<!doctype html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml">

<head>

  <meta charset="utf-8"/>
  <title>소파대학교 로그인</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- App favicon -->
  <link rel="shortcut icon" href="/assets/images/favicon.png">

  <!-- owl.carousel css -->
  <link rel="stylesheet" href="/assets/libs/owl.carousel/assets/owl.carousel.min.css">

  <link rel="stylesheet" href="/assets/libs/owl.carousel/assets/owl.theme.default.min.css">

  <!-- Bootstrap Css -->
  <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
  <!-- Icons Css -->
  <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
  <!-- App Css-->
  <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css"/>

</head>

<body class="auth-body-bg">

<div>
  <div class="container-fluid p-0">
    <div class="row g-0">

      <div class="col-xl-9">
        <div class="auth-full-bg pt-lg-5 p-4">
          <div class="w-100">
            <div class="bg-overlay"></div>
            <div class="d-flex h-100 flex-column">

              <div class="p-4 mt-auto">
                <div class="row justify-content-center">
                  <div class="col-lg-7">
                    <div class="text-center">

                      <h4 class="mb-3"><i class="bx bxs-quote-alt-left text-primary h1 align-middle me-3"></i><span
                          class="text-primary">5k</span>+ Satisfied clients</h4>

                      <div dir="ltr">
                        <div class="owl-carousel owl-theme auth-review-carousel" id="auth-review-carousel">
                          <div class="item">
                            <div class="py-3">
                              <p class="font-size-16 mb-4">" Fantastic theme with a ton of options. If you just want the
                                HTML to integrate with your project, then this is the package. You can find the files in
                                the 'dist' folder...no need to install git and all the other stuff the documentation
                                talks about. "</p>

                              <div>
                                <h4 class="font-size-16 text-primary">Abs1981</h4>
                                <p class="font-size-14 mb-0">- Skote User</p>
                              </div>
                            </div>

                          </div>

                          <div class="item">
                            <div class="py-3">
                              <p class="font-size-16 mb-4">" If Every Vendor on Envato are as supportive as Themesbrand,
                                Development with be a nice experience. You guys are Wonderful. Keep us the good work.
                                "</p>

                              <div>
                                <h4 class="font-size-16 text-primary">nezerious</h4>
                                <p class="font-size-14 mb-0">- Skote User</p>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end col -->

      <div class="col-xl-3">
        <div class="auth-full-page-content p-md-5 p-4">
          <div class="w-100">

            <div class="d-flex flex-column h-100">
              <div class="mb-4 mb-md-5">
                <a href="index.html" class="d-block auth-logo">
                  <img src="/assets/images/logo-dark.png" alt="" height="18" class="auth-logo-dark">
                  <img src="/assets/images/logo-light.png" alt="" height="18" class="auth-logo-light">
                </a>
              </div>
              <div class="my-auto">

                <div>
                  <h5 class="text-primary">안녕하세요 !</h5>
                  <p class="text-muted">소파대학교 학사시스템에 접속하기 위해 로그인을 해주세요.</p>
                </div>

                <div class="mt-4">
                  <form th:action="@{/login}" method="POST">

                    <div class="mb-3">
                      <label for="username" class="form-label">학번</label>
                      <input type="text" name="username" class="form-control" id="username" placeholder="Enter username">
                    </div>

                    <div class="mb-3">
                      <div class="float-end">
                        <a href="auth-recoverpw-2.html" class="text-muted">비밀번호를 잊으셨나요?</a>
                      </div>
                      <label class="form-label">비밀번호</label>
                      <div class="input-group auth-pass-inputgroup">
                        <input type="password" name="password" class="form-control" placeholder="Enter password" aria-label="Password"
                               aria-describedby="password-addon">
                        <button class="btn btn-light " type="button" id="password-addon"><i
                            class="mdi mdi-eye-outline"></i></button>
                      </div>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="remember-check">
                      <label class="form-check-label" for="remember-check">
                        학번 기억하기
                      </label>
                    </div>

                    <div class="mt-3 d-grid">
                      <button class="btn btn-primary waves-effect waves-light" type="submit">로그인</button>
                    </div>

                  </form>
                  <div class="mt-5 text-center">
                    <p>학사 정보가 없으신가요 ? <a href="auth-register-2.html" class="fw-medium text-primary">가입</a></p>
                  </div>
                </div>
              </div>

              <div class="mt-4 mt-md-5 text-center">
                <p class="mb-0">© 2022 sofAware</p>
              </div>
            </div>


          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container-fluid -->
</div>

<!-- JAVASCRIPT -->
<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/libs/node-waves/waves.min.js"></script>

<!-- owl.carousel js -->
<script src="/assets/libs/owl.carousel/owl.carousel.min.js"></script>

<!-- auth-2-carousel init -->
<script src="/assets/js/pages/auth-2-carousel.init.js"></script>

<!-- App js -->
<script src="/assets/js/app.js"></script>

</body>
</html>
