<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="/frame/head.html">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.0/dist/sweetalert2.min.css" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <title>소파대학교 로그인</title>
</head>
<body class="text-center">

<!-- section -->
<main>
    <form th:action="@{/login}" id="login" method="POST">
        <img class="mb-5" src="/favicon.png" alt="" width="128" height="128">

        <div class="form-floating">
            <input type="text" name="username" class="form-control" id="floatingId" placeholder=" ">
            <label for="floatingId">학번</label>
        </div>
        <div class="input-group form-floating mb-2">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder=" ">
            <label for="floatingPassword">비밀번호</label>
            <div id="floatingPasswordFeedback" class="invalid-feedback">
                학번 혹은 비밀번호가 틀렸습니다.
            </div>
            <span class="input-group-text" id="togglePassword" style="cursor: pointer">
                <i class="far fa-eye"></i>
            </span>
        </div>

        <div class="container g-0 mb-2">
            <div class="row">
                <div class="col-6">
                    <span class="float-start">
                        <input type="checkbox" id="floatingRemember">
                        <label for="floatingRemember">학번 저장</label>
                    </span>
                </div>
                <div class="col-6">
                    <button type="button" id="findPw" class="w-100 btn btn-sm btn-secondary">비밀번호 찾기</button>
                </div>
            </div>
        </div>


        <button type="submit" class="w-100 fw-bold btn btn-lg btn-block btn-primary mb-5">로그인</button>

        <div class="container g-0">
            <div class="row">
                <div class="col-sm-6 mb-1">
                    <button type="button" id="findId" class="w-100 btn btn-sm btn-secondary">학번 조회</button>
                </div>
                <div class="col-sm-6 mb-1">
                    <button type="button" id="signup" class="w-100 btn btn-sm btn-secondary">비밀번호 최초 등록</button>
                </div>
            </div>
        </div>


        <button type="button" class="w-100 btn btn-sm btn-secondary" onclick="location.href='/privacy-policy'">개인정보 처리방침</button>
    </form>
</main>

<div th:replace="/frame/tail.html"></div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.0/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>
</html>