<meta th:replace="/frame/start.html">
<!-- add your css here -->
<style>
    .board-menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .board-menu > * {
        flex-shrink: 0;
    }
    .board-menu > div {
        margin-left: auto;
    }

    .board-header {
        padding: 0 1rem;
        margin-bottom: 1.5rem;
    }
    .board-header h5 {
        font-weight: bold;
        text-align: center;
        margin: 0;
    }

    .card {
        margin-bottom: 0.5rem;
        transition: color 0.1s, background-color 0.1s;
    }
    .card:hover {
        background-color: #fafafa;
    }
    a.card {
        color: #495057;
    }
    .card div,
    .card span,
    .card i {
        text-align: center;
    }
    .card .fw-bold {
        text-align: left;
    }
    .card:hover span {
        color: black;
    }
    .card-body {
        padding: 0.8rem 1rem;
    }
</style>
<title th:text="'소파대학교 ' + ${title.substring(2)}"></title>
<meta th:replace="/frame/mid.html">


<!-- add your content here! -->
<div class="board-menu">
  <h2 class="m-0 mb-3" th:text="${title}"></h2>
  <div class="mb-5 d-flex justify-content-center gap-4">
    <!-- 학기 선택 -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="semester" data-bs-toggle="dropdown" aria-expanded="true">
        [[${formatYS}?${formatYS}:'학기 선택']]
        <i class="mdi mdi-chevron-down"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="semester">
        <li th:each="key : ${mapYS.keySet()}">
          <a class="dropdown-item"
             th:attr="href=${'?year-semester=' + key}"
             th:text="${mapYS.get(key)}"></a>
        </li>
      </ul>
    </div>

    <!-- 강의 선택 -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="syllabus" data-bs-toggle="dropdown" aria-expanded="false"
              th:attr="data-sid=${selectedSyllabusId}">
        [[${selectedSyllabusName}?${selectedSyllabusName}:'강의 선택']]
        <i class="mdi mdi-chevron-down"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="syllabus">
        <li><a class="dropdown-item" th:attr="href=${'?year-semester=' + yearSemester}">전체</a></li>
        <li th:if="${#authorization.expression('hasRole(''PROFESSOR'')')}" th:each="s : ${syllabuses}">
          <a class="dropdown-item"
             th:attr="href=${'?syllabus-id=' + s.getId()}"
             th:text="${s.getName() + ' (' + s.formatClassTime() + ')'}"></a>
        </li>
        <li th:if="${#authorization.expression('hasRole(''STUDENT'')')}" th:each="s : ${syllabuses}">
          <a class="dropdown-item"
             th:attr="href=${'?syllabus-id=' + s.getId()}"
             th:text="${s.getName() + ' - ' + s.getProfessor().getName() + ' (' + s.formatClassTime() + ')'}"></a>
        </li>
      </ul>
    </div>

    <button class="btn btn-primary" type="button" aria-expanded="false" id="write"
            th:if="${#authorization.expression('hasRole(''PROFESSOR'')') ||
                         #httpServletRequest.getRequestURI().endsWith('qna')}">
      글쓰기
    </button>
  </div>
</div>

<!-- 게시글 헤더 -->
<div class="board-header row d-none d-sm-flex">
  <div class="col-8">

  </div>
  <div class="col-4">

  </div>
  <h5 class="col-7">제목</h5>
  <h5 class="col-1" th:if="${selectedSyllabusId.isEmpty()}">강의명</h5>
  <h5 class="col-1">작성자</h5>
  <h5 class="col-2">작성일</h5>
  <h5 class="col-1">조회수</h5>
</div>

<!-- 게시글 목록 -->
<th:block th:each="board : ${boards}">
  <a class="card" th:href="'./' + ${rootURL} + '/' + ${board.getId()}">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-7 fw-bold" th:text="${board.getTitle()}"></div>
        <div class="col-sm-1" th:text="${board.getSyllabus().getName()}" th:if="${selectedSyllabusId.isEmpty()}"></div>
        <div class="col-sm-1">
          <i class="fas fa-user d-sm-none"></i>
          <span th:text="${board.getMember().getName()}"></span>
        </div>
        <div class="col-sm-2">
          <i class="fas fa-calendar-alt d-sm-none"></i>
          <span th:text="${#dates.createToday().compareTo(board.getDate()) < 0 ?
                #dates.format(board.getDate(), 'HH:mm') :
                #dates.format(board.getDate(), 'yyyy-MM-dd')}"></span>
        </div>
        <div class="col-sm-1">
          <i class="fas fa-eye d-sm-none"></i>
          <span th:text="${board.getView()}"></span>
        </div>
      </div>
    </div>
  </a>
</th:block>


<meta th:replace="/frame/mid2.html">
<!-- add your js here -->
<script>
    const btnWrite = document.querySelector('#write');

    // 글쓰기 버튼 이벤트
    if (btnWrite)
        btnWrite.addEventListener('click', evt => {
            const sid = document.querySelector('#syllabus').getAttribute('data-sid');
            location.href = './[[${rootURL}]]/write' + (sid ? '?syllabus-id=' + sid : '');
        });
</script>
<meta th:replace="/frame/end.html">