<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta th:replace="/frame/head.html">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css" />
    <title th:text="${title} + ' - 글쓰기'"></title>
</head>
<body>
<header sec:authorize="hasRole('STUDENT')" th:replace="/frame/sHeader.html"></header>
<header sec:authorize="hasRole('PROFESSOR')" th:replace="/frame/pHeader.html"></header>

<div class="container">
    <h2 class="my-4" th:text="${title}"></h2>
    <form method="POST" id="write">
        <input type="hidden" id="csrf" th:attr="data-header-name=${_csrf.headerName}" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}"/>

        <div class="mb-3 row">
            <label for="syllabus" class="col-sm-2 col-form-label">강의</label>
            <div class="col-sm-10">
                <select class="form-control" id="syllabus" name="syllabusId" disabled>
                    <option th:text="${syllabus.getName()} + ' (' + ${syllabus.getId()} + ') [' + ${syllabus.formatClassTime()} + ']'"
                            th:value="${syllabus.getId()}" selected></option>
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputTitle" class="col-sm-2 col-form-label">제목</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTitle" name="title"
                    th:attr="value=${board}?${board.getTitle()}:''">
            </div>
        </div>
        <div class="mb-3 row">
            <div id="inputContent" name="content"></div>
        </div>
        <div class="mb-3 row">
            <div class="col">
                <div class="form-check mb-1" th:if="${board}?${board.getAttachmentName() != null && !board.getAttachmentName().isEmpty()}:false">
                    <input class="form-check-input" type="checkbox" value="true" id="deleteFile" name="deleteFile">
                    <label class="form-check-label" for="deleteFile" th:text="${board.getAttachmentName()}+' (체크시 삭제)'"></label>
                </div>
                <input class="form-control" type="file" id="file" name="file">
            </div>
        </div>
        <div class="mb-3 d-flex justify-content-between gap-3">
            <a th:attr="href='/p/' + ${rootURL}" type="button" class="btn btn-secondary">목록</a>
            <button type="submit" class="btn btn-primary" th:text="${board}?'수정완료':'작성완료'"></button>
        </div>
    </form>
</div>
<!-- Copy & Edit here! -->

<footer th:replace="/frame/footer.html"></footer>
<script th:replace="/frame/tail.html"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    const initialValue= `[[${board} ? ${board.getContent()} : '']]`;
</script>
<script type="text/javascript" th:src="@{/js/pBoardWrite.js}"></script>
</body>
</html>