<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="/frame/head.html">
    <title>공지사항</title>
</head>
<body>
<header th:replace="/frame/sHeader.html"></header>

<div class="d-flex justify-content-center gap-4">
    <!-- 학기 선택 -->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="semester" data-bs-toggle="dropdown" aria-expanded="false">
            학기 선택
        </button>
        <ul class="dropdown-menu" aria-labelledby="semester">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>

    <!-- 강의 선택 -->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="syllabus" data-bs-toggle="dropdown" aria-expanded="false">
            강의 선택
        </button>
        <ul class="dropdown-menu" aria-labelledby="syllabus">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
</div>

<!-- 게시글 목록 -->
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>학정 번호</th>
            <th>강의 제목</th>
            <th>글 번호</th>
            <th>분류</th>
            <th>조회수</th>
            <th>등록일</th>
            <th>작성자</th>
            <th>제목</th>
            <th>내용</th>
            <th>첨부 파일 이름</th>
            <th>첨부 파일 경로</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="board : ${boards}">
            <th th:text="${board.getSyllabus().getId()}"></th>
            <td th:text="${board.getSyllabus().getName()}"></td>
            <td th:text="${board.getId()}"></td>
            <td th:text="${board.getCategory()}"></td>
            <td th:text="${board.getView()}"></td>
            <td th:text="${#dates.format(board.getDate(), 'yyyy-MM-dd hh-mm-ss')}"></td>
            <td th:text="${board.getMember().getName()}"></td>
            <td th:text="${board.getTitle()}"></td>
            <td th:text="${board.getContent()}"></td>
            <td th:text="${board.getAttachmentName()}"></td>
            <td th:text="${board.getAttachmentPath()}"></td>
        </tr>
    </tbody>
</table>

<footer th:replace="/frame/footer.html"></footer>
<script th:replace="/frame/tail.html"></script>
</body>
</html>