<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="/frame/head.html">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css" />
    <title>공지사항 글쓰기</title>
</head>
<body>
<header th:replace="/frame/pHeader.html"></header>

<div class="container">
    <h2 class="my-4">공지사항</h2>
    <form method="POST" id="write">
        <input type="hidden" id="csrf" th:attr="data-header-name=${_csrf.headerName}" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}"/>

        <div class="mb-3 row">
            <label for="syllabus" class="col-sm-2 col-form-label">강의</label>
            <div class="col-sm-10">
                <select class="form-control" id="syllabus" name="syllabusId" disabled>
                    <option th:text="${syllabus.getName()} + ' (' + ${syllabus.getId()} + ') [' + ${syllabus.formatClassTime()} + ']'"
                            th:value="${syllabus.getId()}" selected></option>
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputTitle" class="col-sm-2 col-form-label">제목</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTitle" name="title"
                    th:attr="value=${board}?${board.getTitle()}:''">
            </div>
        </div>
        <div class="mb-3 row">
            <div id="inputContent" name="content"></div>
        </div>
        <div class="mb-3 row">
            <div class="col">
                <div class="form-check mb-1" th:if="${board}?${board.getAttachmentName() != null && !board.getAttachmentName().isEmpty()}:false">
                    <input class="form-check-input" type="checkbox" value="true" id="deleteFile" name="deleteFile">
                    <label class="form-check-label" for="deleteFile" th:text="${board.getAttachmentName()}+' (체크시 삭제)'"></label>
                </div>
                <input class="form-control" type="file" id="file" name="file">
            </div>
        </div>
        <div class="mb-3 d-flex justify-content-between gap-3">
            <a href="/p/notice" type="button" class="btn btn-secondary">목록</a>
            <button type="submit" class="btn btn-primary" th:text="${board}?'수정완료':'작성완료'"></button>
        </div>
    </form>
</div>
<!-- Copy & Edit here! -->


<footer th:replace="/frame/footer.html"></footer>
<script th:replace="/frame/tail.html"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    const txtCsrf = document.querySelector('#csrf');
    const header = txtCsrf.getAttribute('data-header-name');
    const token = txtCsrf.getAttribute('value');

    let rememberFileRemove = false;
    const chkFileRemove = document.querySelector('input.form-check-input');
    const syllabusId = document.querySelector('option[selected]').getAttribute('value');

    const editor = new toastui.Editor({
        el: document.querySelector('#inputContent'),
        previewStyle: 'vertical',
        height: '560px',
        initialValue: `[[${board} ? ${board.getContent()} : '']]`
    });

    // 기본 Base64 인코딩 이미지 후킹 제거 후 서버 업로드 방식 후킹 추가
    editor.removeHook('addImageBlobHook');
    editor.addHook('addImageBlobHook', (blob, callback) => {
        let formData = new FormData();
        formData.append("file", blob);

        fetch('/upload/syllabus/' + syllabusId, {
            method: 'POST',
            headers: {
                [header]: token
            },
            body: formData
        }).then(
            res => res.text()
        ).then(
            body => {
                if (body) callback(body, "image");
            }
        ).catch(
            error => console.error(error)
        );

        return false;
    });

    // 파일 수정 이벤트
    if (document.querySelector('div.form-check')) {
        const lblFileRemove = document.querySelector('label.form-check-label');

        // 체크시 취소선 추가
        chkFileRemove.addEventListener('change', e => {
            if (rememberFileRemove = e.target.checked) {
                lblFileRemove.classList.add('text-decoration-line-through');
            } else {
                lblFileRemove.classList.remove('text-decoration-line-through');
            }
        })

        // 파일 선택시 자동 삭제 체크
        document.querySelector('input[type=file]').addEventListener("change", e => {
            if (e.target.value) {
                lblFileRemove.classList.add('text-decoration-line-through');
                chkFileRemove.checked = true;
                chkFileRemove.disabled = true;
            } else {
                lblFileRemove.classList.remove('text-decoration-line-through');
                chkFileRemove.checked = rememberFileRemove;
                chkFileRemove.disabled = false;
            }
        });
    }

    // 작성완료 버튼 이벤트
    document.querySelector('#write').addEventListener('submit', e => {
        // 기본 이벤트 막고
        e.preventDefault();

        // 폼 데이터 가져오고 안채워진 내용 데이터 채우기
        const formData = new FormData(e.target);
        // 내용
        formData.append("content", editor.getMarkdown());
        // 학정번호
        formData.append(
            document.querySelector('select').getAttribute('name'),
            syllabusId
        );
        // 파일 삭제 여부
        if (chkFileRemove && chkFileRemove.disabled)
            formData.append("deleteFile", "true");

        fetch('', {
            method: 'POST',
            body: formData
        }).then(
            res => location.href = res.url
        ).catch(
            error => console.error(error)
        );
    });
</script>
</body>
</html>