<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="/frame/head.html">
    <title>Title</title>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
            width : 500px;
            height: 60px;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: center;
        }
    </style>

</head>
<body>
<header th:replace="/frame/pHeader.html"></header>
    <!-- Copy & Edit here! -->

    <div class="d-flex justify-content-center gap-4">
        <!-- 학기 선택 -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="semester" data-bs-toggle="dropdown" aria-expanded="false"
                    th:text="${yearSemester}">
                학기 선택
            </button>
            <ul class="dropdown-menu" aria-labelledby="semester">
                <li th:each="key : ${mapYS.keySet()}">
                    <a class="dropdown-item"
                       th:attr="href=${'?year-semester=' + key}"
                       th:text="${mapYS.get(key)}"></a>
                </li>
            </ul>
        </div>

        <!-- 강의 선택 -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="syllabus" data-bs-toggle="dropdown" aria-expanded="false"
                    th:text="${selectedSyllabusName}">
                강의 선택
            </button>
            <ul class="dropdown-menu" aria-labelledby="syllabus">
                <li th:each="s : ${syllabuses}">
                    <a class="dropdown-item"
                       th:attr="href=${'?syllabus-id=' + s.getId()}"
                       th:text="${s.getName()}"></a>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <h4>공지 사항</h4>
        <div th:each="i : ${#numbers.sequence(0,noticeList.size()-1)}">
            <a th:text="${#dates.format(noticeList.get(i).getUploadDate(), 'yyyy-MM-dd')+' '+noticeList.get(i).title}"></a> <br>
        </div>
    </div>

    <div>
        <h4>과제 목록</h4>
        <table>                                <!-- 이 과목의 과제들을 제출 마감기한 빠른 순으로 보여줌 !! 몇개까지 출력할진 프론트에서 정해주자 ~~ 아직 안 정했음 !!!!!!! 나중에 유아이 꾸미면서 생각해 보자 ~~  -->
            <thead>
                <tr>
                    <th>과제명</th>
                    <th>제출 기한</th>
                </tr>
            </thead>
            <tbody th:if="${assignmentList.isEmpty() eq false}">                                                            <!-- 과제 목록이 존재하는 경우 -->
                <tr th:each="i : ${#numbers.sequence(0,assignmentList.size()-1)}">
                    <td th:text="${assignmentList.get(i).getName()}"></td>
                    <td th:text="${#dates.format(assignmentList.get(i).getSubmitStart(), 'yyyy-MM-dd HH:mm:ss')+'~'+#dates.format(assignmentList.get(i).getSubmitEnd(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </tbody>
            <tbody th:unless="${assignmentList.isEmpty() eq false}">                                                        <!-- 과제 목록이 없는 경우 -->
                <tr>
                    <td th:colspan="2">등록된 내용이 없습니다.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h4>퀴즈 목록</h4>                      <!-- 이 과목의 퀴즈들을 제출 마감기한 빠른 순으로 보여줌 !! 몇개까지 출력할진 프론트에서 정해주자 ~~ 아직 안 정했음 !!!!!!! 나중에 유아이 꾸미면서 생각해 보자 ~~  -->
        <table>
            <thead>
                <tr>
                    <th>퀴즈명</th>
                    <th>응시 기간</th>
                </tr>
            </thead>
            <tbody th:if="${quizList.isEmpty() eq false}">                                                            <!-- 퀴즈 목록이 존재하는 경우 -->
                <tr th:each="i : ${#numbers.sequence(0,quizList.size()-1)}">
                    <td th:text="${quizList.get(i).getName()}"></td>
                    <td th:text="${#dates.format(quizList.get(i).getSubmitStart(), 'yyyy-MM-dd HH:mm:ss')+'~'+#dates.format(quizList.get(i).getSubmitEnd(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </tbody>
            <tbody th:unless="${quizList.isEmpty() eq false}">                                                        <!-- 퀴즈 목록이 없는 경우 -->
                <tr>
                    <td th:colspan="2">등록된 내용이 없습니다.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h4>질문 게시판</h4>
        <table>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>질문 학생</th>
                </tr>
            </thead>
            <tbody th:if="${qnAList.isEmpty() eq false}">                                                            <!-- 질문 목록이 존재하는 경우 -->
                <tr th:each="i : ${#numbers.sequence(0,qnAList.size()-1)}">
                    <td th:text="${qnAList.get(i).getTitle()}"></td>
                    <td th:text="${qnAList.get(i).getStudentId()}"></td>
                </tr>
            </tbody>
            <tbody th:unless="${qnAList.isEmpty() eq false}">                                                        <!-- 질문 목록이 없는 경우 -->
                <tr>
                    <td th:colspan="2">등록된 내용이 없습니다.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h4>강의 영상</h4>
        <table>
            <thead>
                <tr>
                    <th>주회차</th>
                    <th>제목</th>
                    <th>출석기간</th>
                    <th>길이</th>
                </tr>
            </thead>
            <tbody th:if="${lectureVideoList.isEmpty() eq false}">                                                            <!-- 강의 영상 목록이 존재하는 경우 -->
                <tr th:each="i : ${#numbers.sequence(0,lectureVideoList.size()-1)}">
                    <td th:text="${lectureVideoList.get(i).getId()}"></td>
                    <td th:text="${lectureVideoList.get(i).getName()}"></td>
                    <td th:text="${#dates.format(lectureVideoList.get(i).getAttendanceStart(), 'yyyy-MM-dd HH:mm:ss')+'~'+#dates.format(lectureVideoList.get(i).getAttendanceEnd(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${lectureVideoList.get(i).getDuration()}"></td>
                </tr>
            </tbody>
            <tbody th:unless="${lectureVideoList.isEmpty() eq false}">                                                        <!-- 강의 영상 목록이 없는 경우 -->
                <tr>
                    <td th:colspan="4">등록된 내용이 없습니다.</td>
                </tr>
            </tbody>
        </table>
    </div>


    <a>강의 자료 바로가기</a><br>
    <a>출석 체크 바로가기</a><br>
    <a>강의계획서 바로가기</a><br>
    <a>성적 조회 바로가기</a><br>


<footer th:replace="/frame/footer.html"></footer>
<script th:replace="/frame/tail.html"></script>
</body>
</html>