<meta th:replace="frame/start.html">
<!-- add your css here -->
<style>
    .pageTitle {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .pageTitle > * {
        flex-shrink: 0;
    }
    .pageTitle > div {
        margin-left: auto;
    }
</style>
<title>강의 종합</title>
<meta th:replace="frame/mid.html">

<!-- add your content here! -->

<div class="pageTitle">                                                           <!-- 년도, 학기 선택 버튼 -->
    <h2 class="m-0 mb-3">📚 강의 종합</h2>
    <div class="mb-5 d-flex justify-content-end gap-4">
        <!-- 학기 선택 -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="semester" data-bs-toggle="dropdown" aria-expanded="true">
                [[${formatYS}?${formatYS}:'학기 선택']]
                <i class="mdi mdi-chevron-down"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="semester">
                <li th:each="key : ${mapYS.keySet()}">
                    <a class="dropdown-item"
                       th:attr="href=${'?year-semester=' + key}"
                       th:text="${mapYS.get(key)}"></a>
                </li>
            </ul>
        </div>

        <!-- 강의 선택 -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="syllabus" data-bs-toggle="dropdown" aria-expanded="false">
                [[${selectedSyllabusName}?${selectedSyllabusName}:'강의 선택']]
                <i class="mdi mdi-chevron-down"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="syllabus">
                <li th:if="${#authorization.expression('hasRole(''PROFESSOR'')')}" th:each="s : ${syllabuses}">
                    <a class="dropdown-item"
                       th:attr="href=${'?syllabus-id=' + s.getId()}"
                       th:text="${s.getName() + ' (' + s.formatClassTime() + ')'}"></a>
                </li>
                <li th:if="${#authorization.expression('hasRole(''STUDENT'')')}" th:each="s : ${syllabuses}">
                    <a class="dropdown-item"
                       th:attr="href=${'?syllabus-id=' + s.getId()}"
                       th:text="${s.getName() + ' - ' + s.getProfessor().getName() + ' (' + s.formatClassTime() + ')'}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">                                                    <!-- 공지 사항 -->
        <div class="card" style="height: 325px">
            <div class="card-body">
                <h4 class="card-title mb-5">공지 사항</h4>
                <div class="">
                    <ul class="verti-timeline list-unstyled">
                        <li th:each="i : ${#numbers.sequence(0,noticeList.size()-1)}" class="event-list">
                            <div class="event-timeline-dot">
                                <i class="bx bx-right-arrow-circle"></i>
                            </div>
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">

                                </div>
                                <div class="flex-grow-1">
                                    <div>
                                        <h5 class="font-size-15"><a th:href="@{'/s/notice/'+${noticeList.get(i).id}}" class="text-dark">[[${noticeList.get(i).title}]]</a></h5>
                                        <span th:text="${#dates.format(noticeList.get(i).getUploadDate(), 'yyyy-MM-dd')}" class="text-primary"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">                                                      <!-- 과목 현황 -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-5">과목 현황</h4>
                <ul class="verti-timeline list-unstyled">
                    <li class="event-list">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <h5 class="font-size-14">강의 수강<i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i></h5>
                            </div>
                            <div class="flex-grow-1">
                                <div th:text="${subjectStatus.finishedLecture+' / '+subjectStatus.totalLecture}"></div>
                            </div>
                        </div>
                    </li>
                    <li class="event-list">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <h5 class="font-size-14">과제 수행<i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i></h5>
                            </div>
                            <div class="flex-grow-1">
                                <div th:text="${subjectStatus.finishedAssignment+' / '+subjectStatus.totalAssignment}"></div>
                            </div>
                        </div>
                    </li>
                    <li class="event-list active">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <h5 class="font-size-14">퀴즈 응시<i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i></h5>
                            </div>
                            <div class="flex-grow-1">
                                <div th:text="${subjectStatus.finishedQuiz+' / '+subjectStatus.totalQuiz}"></div>
                            </div>
                        </div>
                    </li>
                    <li class="event-list">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <h5 class="font-size-14">강의 자료<i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i></h5>
                            </div>
                            <div class="flex-grow-1">
                                <div th:text="${subjectStatus.lectureFiles}"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">                                                      <!-- QnA 게시판, 강의 계획서 바로가기 -->
        <div class="row mb-5 mt-3">
            <div>
                <div class="social-source text-center mt-3">
                    <div class="avatar-xs mx-auto mb-3">
                                                        <span class="avatar-title rounded-circle bg-secondary font-size-16">
                                                                <i class="bx bx-right-arrow-alt"></i>
                                                            </span>
                    </div>
                    <h5 class="font-size-15" style="cursor: pointer;" th:onclick="'location.href=\''+ @{'/s/qna?syllabus-id='+${syllabusId}} + '\''">Q&amp;A 게시판</h5>
                    <p class="text-muted mb-0"><a th:href="@{'/s/qna?syllabus-id='+${syllabusId}}" style="color:inherit">바로가기</a></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div>
                <div class="social-source text-center mt-3">
                    <div class="avatar-xs mx-auto mb-3">
                                                        <span class="avatar-title rounded-circle bg-secondary font-size-16">
                                                                <i class="bx bx-right-arrow-alt"></i>
                                                            </span>
                    </div>
                    <h5 class="font-size-15" style="cursor: pointer;" th:onclick="'location.href=\''+ @{'/s/syllabusDetail/'+${syllabusId}} + '\''">강의 계획서</h5>
                    <p class="text-muted mb-0"><a th:href="@{'/s/syllabusDetail/'+${syllabusId}}" style="color:inherit">바로가기</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-12">                                                  <!-- 퀴즈 목록 -->
        <div class="card">
            <div th:if="${quizList.isEmpty() eq false}" class="card-body">            <!-- 퀴즈 목록이 존재하는 경우 -->
                <h4 class="card-title">퀴즈 목록</h4>
                <p class="card-title-desc"></p>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead class="table-light">
                        <tr class="text-center">
                            <th></th>
                            <th>시험명</th>
                            <th>응시기간</th>
                            <th>응시상태</th>
                            <th>취득점수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="i : ${#numbers.sequence(0,quizList.size()-1)}" class="text-center">
                            <th scope="row" th:text="${i+1}"></th>
                            <td th:text="${quizList.get(i).getName()}"></td>
                            <td th:text="${#dates.format(quizList.get(i).getSubmitStart(), 'yyyy-MM-dd  HH:mm:ss')+'   ~   '+#dates.format(quizList.get(i).getSubmitEnd(), 'yyyy-MM-dd  HH:mm:ss')}"></td>
                            <td th:if="${quizList.get(i).getSubmitted() eq true}" th:text="O"></td>
                            <td th:unless="${quizList.get(i).getSubmitted() eq true}" th:text="X"></td>
                            <td th:text="${quizList.get(i).getAcquiredScore()+'/'+quizList.get(i).getTotalScore()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div th:unless="${quizList.isEmpty() eq false}" class="card-body">          <!-- 퀴즈 목록이 없는 경우 -->
                <h4 class="card-title">퀴즈 목록</h4>
                <p class="card-title-desc"></p>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead class="table-light">
                        <tr class="text-center">
                            <th></th>
                            <th>시험명</th>
                            <th>응시기간</th>
                            <th>응시상태</th>
                            <th>취득점수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:colspan="5" class="text-center">등록된 내용이 없습니다.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-12">                                                  <!-- 과제 목록 -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">과제 목록</h4>
                <p class="card-title-desc"></p>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead class="table-light">
                        <tr class="text-center">
                            <th></th>
                            <th>과제명</th>
                            <th>제출기간</th>
                            <th>제출상태</th>
                        </tr>
                        </thead>
                        <tbody th:if="${assignmentList.isEmpty() eq false}">
                            <th:block th:each="i : ${#numbers.sequence(0,assignmentList.size()-1)}">
                                <tr th:if="${assignmentList.get(i).getSubmitTrue() eq true}" class="text-center" style="cursor: pointer;" th:onclick="'location.href=\''+ @{'/s/assignment/'+${assignmentList.get(i).getId}} + '\''">
                                    <th scope="row" th:text="${i+1}"></th>
                                    <td th:text="${assignmentList.get(i).getName()}"></td>
                                    <td th:text="${#dates.format(assignmentList.get(i).getSubmitStart(), 'yyyy-MM-dd HH:mm:ss')+'   ~   '+#dates.format(assignmentList.get(i).getSubmitEnd(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="O"></td>
                                </tr>
                                <tr th:unless="${assignmentList.get(i).getSubmitTrue() eq true}" class="text-center" style="cursor: pointer;" th:onclick="'location.href=\''+ @{'/s/assignment/write/'+${assignmentList.get(i).getId}} + '\''">
                                    <th scope="row" th:text="${i+1}"></th>
                                    <td th:text="${assignmentList.get(i).getName()}"></td>
                                    <td th:text="${#dates.format(assignmentList.get(i).getSubmitStart(), 'yyyy-MM-dd HH:mm:ss')+'   ~   '+#dates.format(assignmentList.get(i).getSubmitEnd(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="X"></td>
                                </tr>
                            </th:block>
                        </tbody>
                        <tbody th:unless="${assignmentList.isEmpty() eq false}">                                                        <!-- 과제 목록이 없는 경우 -->
                            <tr>
                                <td th:colspan="4" class="text-center">등록된 내용이 없습니다.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">                                                           <!-- 출석 조회 -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">출석 조회</h4>
                <p class="card-title-desc"></p>

                <div class="table-responsive">
                    <table class="table table-sm m-0">
                        <thead class="table-light">
                        <tr class="text-center">
                            <th th:each="i : ${#numbers.sequence(1,16)}" th:text="${i+' 주차'}"></th>
                        </tr>
                        </thead>
                        <tbody th:if="${attendance != null}">                    <!-- 출석 내역이 존재하는 경우 -->
                        <tr class="text-center">
                            <td th:each="i : ${#numbers.sequence(0,attendance.weeks.size()-1)}" th:text="${attendance.weeks.get(i)}"></td>
                        </tr>
                        </tbody>
                        <tbody th:unless="${attendance != null}">                 <!-- 출석 내역이 없는 경우 -->                                       <!-- 출석 내역이 없는 경우 -->
                        <tr class="text-center">
                            <td th:each="i : ${#numbers.sequence(1,16)}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">                                                   <!-- 강의 자료 -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <h4 class="card-title">강의 자료 리스트</h4>
                    <p class="card-title-desc"></p>

                    <div class="table-responsive">
                        <table class="table align-middle mb-0">
                            <thead class="table-light">
                                <tr class="text-center">
                                    <th></th>
                                    <th>제목</th>
                                    <th style="width : 150px">작성자</th>
                                    <th style="width : 320px">작성일</th>
                                </tr>
                            </thead>
                            <tbody th:if="${lectureFileList.isEmpty() eq false}">
                                <tr th:each="i : ${#numbers.sequence(0,lectureFileList.size()-1)}" style="cursor: pointer;" th:onclick="'location.href=\''+ @{'/s/lf/'+${lectureFileList.get(i).getId}} + '\''">
                                    <th scope="row" th:text="${i+1}" class="text-center"></th>
                                    <td th:text="${lectureFileList.get(i).getTitle()}" class="text-center"></td>
                                    <td th:text="${lectureFileList.get(i).getMember().getName()}" class="text-center"></td>
                                    <td th:text="${#dates.format(lectureFileList.get(i).getDate(), 'yyyy-MM-dd HH:mm:ss')}" class="text-center"></td>
                                </tr>
                            </tbody>
                            <tbody th:unless="${lectureFileList.isEmpty() eq false}">                                                        <!-- 강의 자료 목록이 없는 경우 -->
                                <tr>
                                    <td th:colspan="4" class="text-center">등록된 내용이 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">                                                           <!-- 강의 영상 -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <h4 class="card-title">강의 영상 리스트</h4>
                    <p class="card-title-desc"></p>

                    <div class="table-responsive">
                        <table class="table align-middle mb-0">
                            <thead class="table-light">
                                <tr class="text-center">
                                    <th style="width : 150px">주회차</th>
                                    <th style="width : 480px">강의제목</th>
                                    <th style="width : 320px">학습기간</th>
                                    <th style="width : 150px">길이</th>
                                    <th style="width : 150px">강의보기</th>
                                </tr>
                            </thead>
                            <tbody th:if="${lectureVideoList.isEmpty() eq false}">
                                <tr th:each="i : ${#numbers.sequence(0,lectureVideoList.size()-1)}">
                                    <td th:text="${lectureVideoList.get(i).getId()}" class="text-center"></td>
                                    <td th:text="${lectureVideoList.get(i).getName()}"></td>
                                    <td th:text="${#dates.format(lectureVideoList.get(i).getAttendanceStart(), 'yyyy-MM-dd HH:mm:ss')+'~'+#dates.format(lectureVideoList.get(i).getAttendanceEnd(), 'yyyy-MM-dd HH:mm:ss')}" class="text-center"></td>
                                    <td th:text="${lectureVideoList.get(i).getDuration()}" class="text-center"></td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-light btn-sm" th:onclick="'location.href=\''+ @{'/s/lv/view'+'?syllabus-id='+${syllabusId}+'&id='+${lectureVideoList.get(i).getId()}} + '\''">View</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody th:unless="${lectureVideoList.isEmpty() eq false}">                                                        <!-- 강의 영상 목록이 없는 경우 -->
                                <tr>
                                    <td th:colspan="5" class="text-center">등록된 내용이 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<meta th:replace="frame/mid2.html">
<!-- add your js here -->
<meta th:replace="frame/end.html">