</head>
<body data-topbar="dark" data-layout="horizontal" data-layout-size="boxed">
<div id="layout-wrapper">
  <header id="page-topbar" class="position-relative">
    <div class="navbar-header">
      <div class="d-flex">
        <!-- LOGO -->
        <div class="navbar-brand-box">
          <a href="/" class="logo text-white" style="font-size: 22px">SLAS</a>
        </div>

        <!-- App Search-->
        <form class="app-search d-none d-lg-block">
          <div class="position-relative">
            <input type="text" class="form-control" placeholder="검색...">
            <span class="bx bx-search-alt"></span>
          </div>
        </form>

        <div class="dropdown dropdown-mega d-lg-block ms-2">
          <button type="button" class="btn header-item waves-effect px-4" data-bs-toggle="dropdown"
                  aria-haspopup="false"
                  aria-expanded="false">
            <i class="fa fa-fw fa-bars"></i>
          </button>
          <div class="dropdown-menu dropdown-megamenu">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-6">
                    <ul class="list-unstyled megamenu-list"
                        th:if="${#authorization.expression('hasRole(''PROFESSOR'')')}">
                      <li><a class="d-block" href="/p/notice">공지사항</a></li>
                      <li><a class="d-block" href="/p/lf">강의자료</a></li>
                      <li><a class="d-block" href="/p/assignment">과제</a></li>
                      <li><a class="d-block" href="/p/qna">질문</a></li>
                      <li><a class="d-block" href="/p/lv">강의영상</a></li>
                    </ul>
                    <ul class="list-unstyled megamenu-list"
                        th:if="${#authorization.expression('hasRole(''STUDENT'')')}">
                      <li><a class="d-block" href="/s/notice">공지사항</a></li>
                      <li><a class="d-block" href="/s/lf">강의자료</a></li>
                      <li><a class="d-block" href="/s/assignment">과제</a></li>
                      <li><a class="d-block" href="/s/qna">질문</a></li>
                      <li><a class="d-block" href="/s/lv">강의영상</a></li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <ul class="list-unstyled megamenu-list"
                        th:if="${#authorization.expression('hasRole(''PROFESSOR'')')}">
                      <li><a class="d-block" href="/">메인페이지</a></li>
                      <li><a class="d-block" href="/p/total">강의 종합</a></li>
                    </ul>
                    <ul class="list-unstyled megamenu-list"
                        th:if="${#authorization.expression('hasRole(''STUDENT'')')}">
                      <li><a class="d-block" href="/">메인페이지</a></li>
                      <li><a class="d-block" href="/s/total">강의 종합</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-6">
                    <ul class="list-unstyled megamenu-list"
                        th:if="${#authorization.expression('hasRole(''PROFESSOR'')')}">
                      <li><a class="d-block" href="/p/timetable">시간표</a></li>
                      <li><a class="d-block" href="/p/grade">성적관리</a></li>
                      <li><a class="d-block" href="/p/syllabus">강의 계획서</a></li>
                    </ul>
                    <ul class="list-unstyled megamenu-list"
                        th:if="${#authorization.expression('hasRole(''STUDENT'')')}">
                      <li><a class="d-block" href="/s/timetable">시간표</a></li>
                      <li><a class="d-block" href="/s/grade">성적조회</a></li>
                      <li><a class="d-block" href="/s/syllabus">강의 계획서</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <ul class="list-unstyled megamenu-list"
                        th:if="${#authorization.expression('hasRole(''PROFESSOR'')')}">
                      <li><a class="d-block" href="/p/attendance">출석체크</a></li>
                      <li><a class="d-block" href="/p/info">개인정보</a></li>
                      <li><a class="d-block" href="/p/quiz/list">퀴즈</a></li>
                    </ul>
                    <ul class="list-unstyled megamenu-list"
                        th:if="${#authorization.expression('hasRole(''STUDENT'')')}">
                      <li><a class="d-block" href="/s/attendance">출석체크</a></li>
                      <li><a class="d-block" href="/s/info">개인정보</a></li>
                      <li><a class="d-block" href="/s/quiz/list">퀴즈</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="dropdown d-inline-block">
        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="rounded-circle header-profile-user" src="/assets/images/profile"
               alt="Profile">
          <span class="d-none d-xl-inline-block ms-1" key="t-henry" th:text="${#authentication.getPrincipal().getName()}">김소파</span>
          <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end">
          <!-- item-->
          <a class="dropdown-item" href="/s/info" th:if="${#authorization.expression('hasRole(''STUDENT'')')}"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span
                  key="t-profile">개인정보</span></a>
          <a class="dropdown-item" href="/p/info" th:if="${#authorization.expression('hasRole(''PROFESSOR'')')}"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span
                  key="t-profile">개인정보</span></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="/logout"><i
                  class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span
                  key="t-logout">로그아웃</span></a>
        </div>
      </div>

      <!--        <div class="dropdown d-inline-block">-->
      <!--          <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">-->
      <!--            <i class="bx bx-cog bx-spin"></i>-->
      <!--          </button>-->
      <!--        </div>-->

    </div>
</div>
</header>
<div class="main-content">
  <div class="page-content mt-0">
    <div class="container-fluid">