<!-- 사이트 상단의 로고, 메뉴, 검색, 프로필 등 -->
<header class="p-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img src="/favicon.png" alt="" width="32" height="32">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center ms-2 mb-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="boardDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        게시판
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="boardDropdown">
                        <li><a class="dropdown-item" href="/p/notice">공지사항</a></li>
                        <li><a class="dropdown-item" href="/p/lf">강의자료</a></li>
                        <li><a class="dropdown-item" href="/p/assignment">과제</a></li>
                        <li><a class="dropdown-item" href="/p/qna">질문</a></li>
                        <li><a class="dropdown-item" href="/p/lv">강의영상</a></li>
                        <li><a class="dropdown-item" href="/p/timetable">시간표</a></li>
                        <li><a class="dropdown-item" href="/p/grade">성적관리</a></li>
                        <li><a class="dropdown-item" href="/p/syllabus">강의 계획서</a></li>
                    </ul>
                </li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/images/profile.png" alt="profile" width="48" height="48" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">1</a></li>
                    <li><a class="dropdown-item" href="#">2</a></li>
                    <li><a class="dropdown-item" href="#">3</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>