<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta th:replace="/frame/head.html">
    <title>Title</title>
</head>
<body>
<header sec:authorize="hasRole('STUDENT')" th:replace="/frame/sHeader.html"></header>
<header sec:authorize="hasRole('PROFESSOR')" th:replace="/frame/pHeader.html"></header>


<!-- Copy & Edit here! -->


<footer th:replace="/frame/footer.html"></footer>
<script th:replace="/frame/tail.html"></script>
</body>
</html>