<meta th:replace="frame/start.html">
<!-- add your css here -->
<title>성적 조회</title>
<meta th:replace="frame/mid.html">

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <!-- 인적 사항 -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap mb-0">
                        <thead class="table-light">
                        <tr>
                            <th onclick="event.cancelBubble = true;">학과/학부</th>
                            <th onclick="event.cancelBubble = true;">학번</th>
                            <th onclick="event.cancelBubble = true;">이름</th>
                            <th onclick="event.cancelBubble = true;">학적사항</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="cursor: pointer;">
                            <td th:text="${studentInfo.getMajor()}" onclick="event.cancelBubble = true;"></td>
                            <td th:text="${studentInfo.getId()}" onclick="event.cancelBubble = true;"></td>
                            <td th:text="${studentInfo.getName()}" onclick="event.cancelBubble = true;"></td>
                            <td th:text="${studentInfo.getSemester()}/2 + '학기'"
                                onclick="event.cancelBubble = true;"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <!-- 취득 학점 조회 -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap mb-0">
                        <thead class="table-light">
                        <tr>
                            <th onclick="event.cancelBubble = true;">교양 취득학점</th>
                            <th onclick="event.cancelBubble = true;">전공 취득학점</th>
                            <th onclick="event.cancelBubble = true;">전공 평점</th>
                            <th onclick="event.cancelBubble = true;">전체 평점</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="cursor: pointer;">
                            <td th:text="${geCredit}" onclick="event.cancelBubble = true;"></td>
                            <td th:text="${majorCredit}" onclick="event.cancelBubble = true;"></td>
                            <td th:text="${majorGradeAvg}" onclick="event.cancelBubble = true;"></td>
                            <td th:text="${allGradeAvg}" onclick="event.cancelBubble = true;"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <!-- 석차 조회 -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap mb-0">
                        <thead class="table-light">
                        <tr>
                            <th onclick="event.cancelBubble = true;">년도</th>
                            <th onclick="event.cancelBubble = true;">학기</th>
                            <th onclick="event.cancelBubble = true;">신청 학점</th>
                            <th onclick="event.cancelBubble = true;">평점</th>
                            <th onclick="event.cancelBubble = true;">석차</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="grade : ${rankList}" style="cursor: pointer;">
                            <td th:text="${grade.getYear()}" onclick="event.cancelBubble = true;"></td>
                            <td th:text="${grade.getSemester()}" onclick="event.cancelBubble = true;"></td>
                            <td th:text="${grade.getTotalCredit()}" onclick="event.cancelBubble = true;"></td>
                            <td th:text="${grade.getGradeAvg()}" onclick="event.cancelBubble = true;"></td>
                            <td th:text="${grade.getRanking()}" onclick="event.cancelBubble = true;"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <!-- 년도별 석차 조회 -->
            <div class="card-body">
                <div class="table-responsive">
                    <table th:each="element : ${gradeByYear}" class="table align-middle table-nowrap mb-0">
                        <br><h4 class="card-title mb-4" th:text="${element.key}"
                            onclick="event.cancelBubble = true;"></h4>

                        <thead class="table-light">
                        <tr>
                            <th onclick="event.cancelBubble = true;">학정번호</th>
                            <th onclick="event.cancelBubble = true;">과목명</th>
                            <th onclick="event.cancelBubble = true;">개설학과</th>
                            <th onclick="event.cancelBubble = true;">이수구분</th>
                            <th onclick="event.cancelBubble = true;">학점</th>
                            <th onclick="event.cancelBubble = true;">성적</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="grade : ${element.value}" style="cursor: pointer;">
                            <td th:text="${grade.getSyllabusId()}" onclick="event.cancelBubble = true;"></td>
                            <td th:text="${grade.getSyllabusName()}" onclick="event.cancelBubble = true;"></td>
                            <td th:text="${grade.getMajor()}" onclick="event.cancelBubble = true;"></td>
                            <td th:text="${grade.getCategory()}" onclick="event.cancelBubble = true;"></td>
                            <td th:text="${grade.getCredit()}" onclick="event.cancelBubble = true;"></td>
                            <td th:text="${grade.getGrade()}" onclick="event.cancelBubble = true;"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<meta th:replace="frame/mid2.html">
<!-- add your js here -->
<meta th:replace="frame/end.html">