<meta th:replace="frame/start.html">
<!-- add your css here -->
<style>
    .board-menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .board-menu > * {
        flex-shrink: 0;
    }
    .board-menu > div {
        margin-left: auto;
    }

    .board-header {
        padding: 0 1rem;
        margin-bottom: 1.5rem;
    }
    .board-header h5 {
        font-weight: bold;
        text-align: center;
        margin: 0;
    }

    .card {
        margin-bottom: 0.5rem;
        transition: color 0.1s, background-color 0.1s;
    }
    .card:hover {
        background-color: #fafafa;
    }
    a.card {
        color: #495057;
    }
    .card div,
    .card span,
    .card i {
        text-align: center;
    }
    .card .fw-bold {
        text-align: left;
    }
    .card:hover span {
        color: black;
    }
    .card-body {
        padding: 0.8rem 1rem;
    }

    @media (max-width: 768px) {
        .board-card-detail {
            color: rgba(0, 0, 0, 0.4);
        }
    }
</style>
<title>출석체크</title>
<meta th:replace="frame/mid.html">

<!-- add your content here! -->
<div class="board-menu">
    <h2 class="m-0 mb-3" >⏰ 출석 체크</h2>
    <div class="mb-5 d-flex justify-content-center gap-4">
        <!-- 학기 선택 -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="semester" data-bs-toggle="dropdown" aria-expanded="true">
                [[${formatYS}?${formatYS}:'학기 선택']]
                <i class="mdi mdi-chevron-down"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="semester">
                <li th:each="key : ${mapYS.keySet()}">
                    <a class="dropdown-item"
                       th:attr="href=${'?year-semester=' + key}"
                       th:text="${mapYS.get(key)}"></a>
                </li>
            </ul>
        </div>

        <!-- 강의 선택 -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="syllabus" data-bs-toggle="dropdown" aria-expanded="false"
                    th:attr="data-sid=${selectedSyllabusId}">
                [[${selectedSyllabusName}?${selectedSyllabusName}:'강의 선택']]
                <i class="mdi mdi-chevron-down"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="syllabus">
                <li><a class="dropdown-item" th:attr="href=${'?year-semester=' + yearSemester}">전체</a></li>
                <li th:if="${#authorization.expression('hasRole(''PROFESSOR'')')}" th:each="s : ${syllabuses}">
                    <a class="dropdown-item"
                       th:attr="href=${'?syllabus-id=' + s.getId()}"
                       th:text="${s.getName() + ' (' + s.formatClassTime() + ')'}"></a>
                </li>
                <li th:if="${#authorization.expression('hasRole(''STUDENT'')')}" th:each="s : ${syllabuses}">
                    <a class="dropdown-item"
                       th:attr="href=${'?syllabus-id=' + s.getId()}"
                       th:text="${s.getName() + ' - ' + s.getProfessor().getName() + ' (' + s.formatClassTime() + ')'}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--현재 선택한 강의 정보-->
<a class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead class="table-light">
                <th:block>
                    <tr>
                        <th>학정 번호</th>
                        <th>강의 제목</th>
                    </tr>
                </th:block>

                </thead>
                <tbody>
                <th:block>
                    <tr>
                        <th th:text="${attendances.get(0).getSyllabus().getId()}"></th>
                        <td th:text="${attendances.get(0).getSyllabus().getName()}"></td>
                    </tr>
                </th:block>

                </tbody>
            </table>
        </div>

        <br>
    </div>
</a>

<br>
<!--출석체크 표 -->
<td class="mb-0 mt-3 text-primary">*수정하고 싶은 주차를 클릭하세요</td>

<a class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead class="table-light">
                <th>이름</th>
                <th:block th:each="i : ${#numbers.sequence(1,16)}">
                    <td><a
                            th:attr="href='./attendance/' + ${i}+'&'+${attendances.get(0).getSyllabus().getId()}" th:text="${i+'주차'}">
                    </a>
                    </td>
                </th:block>
                </thead>
                <tbody>
                <tr th:each="attendance : ${attendances}" >
                    <th th:text="${attendance.getStudent().getName()}"></th>
                    <th:block th:each="i : ${#numbers.sequence(0,15)}">
                        <td class="mb-0 mt-3 text-dark" th:if="${attendance.formatWeek(attendance.getWeeksByList().get(i))}=='O'" th:text="${attendance.formatWeek(attendance.getWeeksByList().get(i))}"></td>
                        <td class="mb-0 mt-3 text-warning" th:if="${attendance.formatWeek(attendance.getWeeksByList().get(i))}=='L'" th:text="${attendance.formatWeek(attendance.getWeeksByList().get(i))}"></td>
                        <td class="mb-0 mt-3 text-danger" th:if="${attendance.formatWeek(attendance.getWeeksByList().get(i))}=='X'" th:text="${attendance.formatWeek(attendance.getWeeksByList().get(i))}"></td>
                        <td class="mb-0 mt-3 text-primary" th:if="${attendance.formatWeek(attendance.getWeeksByList().get(i))}=='A'" th:text="${attendance.formatWeek(attendance.getWeeksByList().get(i))}"></td>

                    </th:block>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</a>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped table-bordered mb-0">
            <tbody>
            <tr>
                <td>O:출석</td>
                <td>X:결석</td>
                <td>L:지각</td>
                <td>A:공결</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


<meta th:replace="frame/mid2.html">
<!-- add your js here -->
<meta th:replace="frame/end.html">