<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="/frame/head.html">
    <title>출석체크</title>
</head>
<body>
<header th:replace="/frame/sHeader.html"></header>

<div class="d-flex justify-content-center gap-4">
    <!-- 학기 선택 -->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="semester" data-bs-toggle="dropdown" aria-expanded="false"
                th:text="${yearSemester}">
            학기 선택
        </button>
        <ul class="dropdown-menu" aria-labelledby="semester">
            <li th:each="key : ${mapYS.keySet()}">
                <a class="dropdown-item"
                   th:attr="href=${'?year-semester=' + key}"
                   th:text="${mapYS.get(key)}"></a>
            </li>
        </ul>
    </div>

    <!-- 강의 선택 -->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="syllabus" data-bs-toggle="dropdown" aria-expanded="false"
                th:text="${selectedSyllabusName}">
            강의 선택
        </button>
        <ul class="dropdown-menu" aria-labelledby="syllabus">
            <li th:each="s : ${syllabuses}">
                <a class="dropdown-item"
                   th:attr="href=${'?syllabus-id=' + s.getId()}"
                   th:text="${s.getName()}"></a>
            </li>
        </ul>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>학정 번호</th>
        <th>강의 제목</th>

    </tr>
    </thead>
    <tbody>
    <tr style="cursor: pointer;" th:each="attendance : ${attendances}" th:attr="href=${'/s/notice/' + attendance.getSyllabus().getId()}">
        <th th:text="${attendance.getSyllabus().getId()}"></th>
        <td th:text="${attendance.getSyllabus().getName()}"></td>

    </tr>
    </tbody>
</table>

<tbody>
<div class="container">
    <div class="timetable-img text-center">
        <img src="img/content/timetable.png" alt="">
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-center">

            <thead>
            <tr class="bg-light-gray">
                <th class="text-uppercase">회차
                </th>
                <th class="text-uppercase">1:출석</th>
                <th class="text-uppercase">2:결석</th>
                <th class="text-uppercase">3:지각</th>
            </tr>
            </thead>

        </table>
    </div>
</div>
</tbody>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>주차</th>
        <th>회차</th>
    </tr>
    </thead>

    <tbody>
    <tr style="cursor: pointer;" th:each="attendance : ${attendances}" th:attr="href=${'/s/notice/' + attendance.getSyllabus().getId()}">
        <th>1</th>
        <th th:text="${attendance.getWeek1()}"></th>
    </tr>
    <tr style="cursor: pointer;" th:each="attendance : ${attendances}" th:attr="href=${'/s/notice/' + attendance.getSyllabus().getId()}">
        <th>2</th>
        <th th:text="${attendance.getWeek2()}"></th>
    </tr>
    <tr style="cursor: pointer;" th:each="attendance : ${attendances}" th:attr="href=${'/s/notice/' + attendance.getSyllabus().getId()}">
        <th>3</th>
        <th th:text="${attendance.getWeek3()}"></th>
    </tr>
    <tr style="cursor: pointer;" th:each="attendance : ${attendances}" th:attr="href=${'/s/notice/' + attendance.getSyllabus().getId()}">
        <th>4</th>
        <th th:text="${attendance.getWeek4()}"></th>
    </tr>
    <tr style="cursor: pointer;" th:each="attendance : ${attendances}" th:attr="href=${'/s/notice/' + attendance.getSyllabus().getId()}">
        <th>5</th>
        <th th:text="${attendance.getWeek5()}"></th>
    </tr>
    <tr style="cursor: pointer;" th:each="attendance : ${attendances}" th:attr="href=${'/s/notice/' + attendance.getSyllabus().getId()}">
        <th>6</th>
        <th th:text="${attendance.getWeek6()}"></th>
    </tr>
    <tr style="cursor: pointer;" th:each="attendance : ${attendances}" th:attr="href=${'/s/notice/' + attendance.getSyllabus().getId()}">
        <th>7</th>
        <th th:text="${attendance.getWeek7()}"></th>
    </tr>
    <tr style="cursor: pointer;" th:each="attendance : ${attendances}" th:attr="href=${'/s/notice/' + attendance.getSyllabus().getId()}">
        <th>8</th>
        <th th:text="${attendance.getWeek8()}"></th>
    </tr>
    <tr style="cursor: pointer;" th:each="attendance : ${attendances}" th:attr="href=${'/s/notice/' + attendance.getSyllabus().getId()}">
        <th>9</th>
        <th th:text="${attendance.getWeek9()}"></th>
    </tr>
    <tr style="cursor: pointer;" th:each="attendance : ${attendances}" th:attr="href=${'/s/notice/' + attendance.getSyllabus().getId()}">
        <th>10</th>
        <th th:text="${attendance.getWeek10()}"></th>
    </tr>
    <tr style="cursor: pointer;" th:each="attendance : ${attendances}" th:attr="href=${'/s/notice/' + attendance.getSyllabus().getId()}">
        <th>11</th>
        <th th:text="${attendance.getWeek11()}"></th>
    </tr>
    <tr style="cursor: pointer;" th:each="attendance : ${attendances}" th:attr="href=${'/s/notice/' + attendance.getSyllabus().getId()}">
        <th>12</th>
        <th th:text="${attendance.getWeek12()}"></th>
    </tr>
    <tr style="cursor: pointer;" th:each="attendance : ${attendances}" th:attr="href=${'/s/notice/' + attendance.getSyllabus().getId()}">
        <th>13</th>
        <th th:text="${attendance.getWeek13()}"></th>
    </tr>
    <tr style="cursor: pointer;" th:each="attendance : ${attendances}" th:attr="href=${'/s/notice/' + attendance.getSyllabus().getId()}">
        <th>14</th>
        <th th:text="${attendance.getWeek14()}"></th>
    </tr>
    <tr style="cursor: pointer;" th:each="attendance : ${attendances}" th:attr="href=${'/s/notice/' + attendance.getSyllabus().getId()}">
        <th>15</th>
        <th th:text="${attendance.getWeek15()}"></th>
    </tr>
    <tr style="cursor: pointer;" th:each="attendance : ${attendances}" th:attr="href=${'/s/notice/' + attendance.getSyllabus().getId()}">
        <th>16</th>
        <th th:text="${attendance.getWeek16()}"></th>
    </tr>

    </tbody>
</table>

<footer th:replace="/frame/footer.html"></footer>
<script th:replace="/frame/tail.html"></script>
<script>
    document.querySelectorAll("table tr").forEach(e => e.addEventListener('click', evt =>
        location.href = e.getAttribute("href")));
</script>
</body>
</html>