<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta th:replace="/frame/head.html">
    <title>학생 개인 정보 열람</title>
</head>
<body>
<header th:replace="/frame/sHeader.html"></header>

<div class="d-flex justify-content-center gap-4">
    <!-- 학기 선택 -->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="semester" data-bs-toggle="dropdown" aria-expanded="false"
                th:text="${yearSemester}">
            학기 선택
        </button>
        <ul class="dropdown-menu" aria-labelledby="semester">
            <li th:each="key : ${mapYS.keySet()}">
                <a class="dropdown-item"
                   th:attr="href=${'?year-semester=' + key}"
                   th:text="${mapYS.get(key)}"></a>
            </li>
        </ul>
    </div>

    <!-- 강의 선택 -->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="syllabus" data-bs-toggle="dropdown" aria-expanded="false"
                th:text="${selectedSyllabusName}">
            강의 선택
        </button>
        <ul class="dropdown-menu" aria-labelledby="syllabus">
            <li th:each="s : ${syllabuses}">
                <a class="dropdown-item"
                   th:attr="href=${'?syllabus-id=' + s.getId()}"
                   th:text="${s.getName()}"></a>
            </li>
        </ul>
    </div>
</div>
<br>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>
            <h3>학생 명단</h3>
        </th>
    </tr>
    </thead>
    <thead>
    <tr>
        <th>이름</th>
        <th>학번</th>
        <th>전공</th>
        <th>학기</th>

    </tr>
    </thead>
    <tbody>
    <tr  th:each="attendance : ${attendances}" >
        <th th:text="${attendance.getStudent().getName()}"></th>
        <td th:text="${attendance.getStudent().getId()}"></td>
        <td th:text="${attendance.getStudent().getMajor()}"></td>
        <td th:text="${attendance.getStudent().getSemester()}"></td>
    </tr>
    </tbody>
</table>




<footer th:replace="/frame/footer.html"></footer>
<script th:replace="/frame/tail.html"></script>
</body>
</html>