<meta th:replace="frame/start.html">
<!-- add your css here -->
<title>개인정보</title>
<meta th:replace="frame/mid.html">


<!-- add your content here! -->
<h2 class="m-0 mb-3" >개인정보</h2>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-nowrap mb-0">
            <tbody th:each="attendance : ${attendances}">
            <tr>
                <th class="text-nowrap" scope="row">이름</th>
                <td th:text="${attendance.getStudent().getName()}"></td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">학번</th>
                <td th:text="${attendance.getStudent().getId()}"></td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">전공</th>
                <td th:text="${attendance.getStudent().getMajor()}"></td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">학년</th>
                <td th:text="${attendance.getStudent().getSemester()/2}"></td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">학기</th>
                <td th:text="${attendance.getStudent().getSemester()%2+1}"></td>
            </tr>
            </tbody>

        </table>
    </div>

<meta th:replace="frame/mid2.html">
<!-- add your js here -->
<meta th:replace="frame/end.html">