<meta th:replace="frame/start.html">
<!-- add your css here -->
<style>
    .board-menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .board-menu > * {
        flex-shrink: 0;
    }

    .board-menu > div {
        margin-left: auto;
    }

    .board-header {
        padding: 0 1rem;
        margin-bottom: 1.5rem;
    }

    .board-header h5 {
        font-weight: bold;
        text-align: center;
        margin: 0;
    }

    .card {
        margin-bottom: 0.5rem;
        transition: color 0.1s, background-color 0.1s;
    }

    .card:hover {
        background-color: #fafafa;
    }

    a.card {
        color: #495057;
    }

    .card div,
    .card span,
    .card i {
        text-align: center;
    }

    .card .fw-bold {
        text-align: left;
    }

    .card:hover span {
        color: black;
    }

    .card-body {
        padding: 0.8rem 1rem;
    }

    @media (max-width: 768px) {
        .board-card-detail {
            color: rgba(0, 0, 0, 0.4);
        }
    }
</style>
<title>강의영상</title>
<meta th:replace="frame/mid.html">


<!-- add your content here! -->
<!-- 제목 및 메뉴 -->
<div class="board-menu">
  <h2 class="m-0 mb-3">🎬 강의영상</h2>
  <div class="mb-5 d-flex justify-content-center gap-4">
    <!-- 학기 선택 -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="semester" data-bs-toggle="dropdown"
              aria-expanded="true">
        [[${formatYS}?${formatYS}:'학기 선택']]
        <i class="mdi mdi-chevron-down"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="semester">
        <li th:each="key : ${mapYS.keySet()}">
          <a class="dropdown-item"
             th:attr="href=${'?year-semester=' + key}"
             th:text="${mapYS.get(key)}"></a>
        </li>
      </ul>
    </div>

    <!-- 강의 선택 -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="syllabus" data-bs-toggle="dropdown"
              aria-expanded="false"
              th:attr="data-sid=${selectedSyllabusId}">
        [[${selectedSyllabusName}?${selectedSyllabusName}:'강의 선택']]
        <i class="mdi mdi-chevron-down"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="syllabus">
        <li><a class="dropdown-item" th:attr="href=${'?year-semester=' + yearSemester}">전체</a></li>
        <li th:if="${#authorization.expression('hasRole(''PROFESSOR'')')}" th:each="s : ${syllabuses}">
          <a class="dropdown-item"
             th:attr="href=${'?syllabus-id=' + s.getId()}"
             th:text="${s.getName() + ' (' + s.formatClassTime() + ')'}"></a>
        </li>
        <li th:if="${#authorization.expression('hasRole(''STUDENT'')')}" th:each="s : ${syllabuses}">
          <a class="dropdown-item"
             th:attr="href=${'?syllabus-id=' + s.getId()}"
             th:text="${s.getName() + ' - ' + s.getProfessor().getName() + ' (' + s.formatClassTime() + ')'}"></a>
        </li>
      </ul>
    </div>

    <button class="btn btn-primary" type="button" aria-expanded="false" id="write"
            th:if="${#authorization.expression('hasRole(''PROFESSOR'')')}">
      글쓰기
    </button>
  </div>
</div>

<!-- 게시글 헤더 -->
<div class="board-header row d-none d-md-flex">
  <div class="col-6"><h5>제목</h5></div>
  <div class="col-6">
    <div class="row">
      <h5 class="col-3" th:if="${selectedSyllabusId.isEmpty()}">강의명</h5>
      <h5 class="col-2 ms-md-auto">주차</h5>
      <h5 class="col-5">출석기간</h5>
      <h5 class="col-2">길이</h5>
    </div>
  </div>
</div>

<!-- 게시글 목록 -->
<th:block th:each="lv : ${lectureVideos}">
  <a class="card" th:href="'./lv/view?syllabus-id=' + ${lv.getSyllabus().getId()} + '&id=' + ${lv.getId()}">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 fw-bold text-start" th:text="${lv.getName()}"></div>
        <div class="col-md-6 board-card-detail">
          <div class="row row-cols-auto">
            <div class="col-md-3" th:if="${selectedSyllabusId.isEmpty()}">
              <i class="fas fa-graduation-cap d-md-none"></i>
              <span th:text="${lv.getSyllabus().getName()}"></span>
            </div>
            <div class="col-md-2 ms-md-auto">
              <i class="fas fa-user d-md-none"></i>
              <span class="data" th:text="${lv.getId()}"></span>
            </div>
            <div class="col-md-5">
              <i class="fas fa-calendar-alt d-md-none"></i>
              <span th:text="${
                #dates.format(lv.getAttendanceStart(), 'yyyy-MM-dd HH:mm') + ' ~ ' +
                #dates.format(lv.getAttendanceEnd(),   'yyyy-MM-dd HH:mm')}"></span>
            </div>
            <div class="col-md-2">
              <i class="fas fa-clock d-md-none"></i>
              <span th:text="${lv.getDuration()} + '분'"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</th:block>


<meta th:replace="frame/mid2.html">
<!-- add your js here -->
<script>
    const btnWrite = document.querySelector('#write');

    // 글쓰기 버튼 이벤트
    if (btnWrite)
        btnWrite.addEventListener('click', evt => {
            const sid = document.querySelector('#syllabus').getAttribute('data-sid');
            location.href = './lv/write' + (sid ? '?syllabus-id=' + sid : '');
        });
</script>
<meta th:replace="frame/end.html">