<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta th:replace="/frame/head.html">
  <title>퀴즈</title>
</head>
<body>
<header th:replace="/frame/pHeader.html"></header>

<form method="POST" id="write">
  <table class="table table-striped table-hover">

    <thead>
    <tr>
      <th>퀴즈 번호</th>
      <th>퀴즈 제목</th>
      <th>제출 가능 시작 일자</th>
      <th>제출 가능 마감 일자</th>
    </tr>
    </thead><!-- 퀴즈 목록이 없는 경우 -->
    <tr>
      <td>
        <input type="text" text="id" name="id" >
      </td>
      <td>
        <input type="text" text="id" name="name">
      </td>
      <td>
        <input type="text" text="id" name="submitStart">
      </td>
      <td>
        <input type="text" text="id" name="submitEnd">
      </td>
    </tr>
    </tbody>

  </table>

  <tr><input type=button value='항목 추가' onclick='createDiv()'></tr>

  <table id="dynamic_table" class="table table-striped table-hover">

    <tr>
      <th>문제 번호</th>
      <th>카테고리</th>
      <th>문제 내용</th>
      <th>모범 답안</th>
    </tr>

  </table>

</form>

<script>
  function createDiv() {
    const dynamicTable = document.getElementById('dynamic_table');
    const newRow = dynamicTable.insertRow();
    const cell1 = newRow.insertCell();
    const cell2 = newRow.insertCell();
    const cell3 = newRow.insertCell();
    const cell4 = newRow.insertCell();
    const cell5 = newRow.insertCell();

    cell1.innerHTML = '<input type="text" text="id" name="questionNum">';
    cell2.innerHTML = '<input type="text" text="id" name="category">';
    cell3.innerHTML = '<input type="text" text="id" name="question">';
    cell4.innerHTML = '<input type="text" text="id" name="correctAnswer">';
    cell5.innerHTML = '<input type="submit" value="완료">';

    count++;
  }

  function checkSize(input) {
    if (input.files && input.files[0].size > (20*1024*1024)) {
      alert("파일 사이즈가 20MB 초과되었습니다.");
    }
  }

  function deleteRow() {
    var table = document.getElementById('dynamic_table');
    var checkboxArray = document.getElementsByName('checkboxObj');

    for (var i = checkboxArray.length-1; i>=0; i--) {
      var check = checkboxArray[i].checked;

      if (check) {
        table.deleteRow(i);
      }
    }
  }
</script>


<!--<script>-->
<!--    function createDiv() {-->
<!--        alert('더이상 추가하실수 없습니다.');-->
<!--    }-->
<!--        noTh = noTh + 1;-->

<!--        <tr>하이</tr>-->
<!--        layer1.innerHTML=layer1.innerHTML-->
<!--            +'<table>'-->
<!--            +'        <tr>'-->
<!--            +'                  <td><input name=rg_ext20[] type=text class=basic size=20></td>'-->
<!--            +'                  <td><input name=rg_ext21[] type=text class=basic size=20></td>'-->
<!--            +'                  <td><input name=rg_ext22[] type=text class=basic size=20></td>'-->
<!--            +'                  <td><input name=rg_ext23[] type=text class=basic size=20></td>'-->
<!--            +'                  <td><input name=rg_ext24[] type=text class=basic size=20></td>'-->
<!--            +'                  <td><input name=rg_ext25[] type=text class=basic size=20></td>'-->
<!--            +'        </tr>';-->
<!--        +'</table>';-->
<!--        layer1.style.display = "";-->
<!--    }-->
<!--</script>-->

<script>
  const btnPut = document.querySelector('#addDoc');
  if(btnPut)
    document.getElementById("addDoc").addEventListener("click", function(e){
      var target = document.querySelector(".add_doctor").cloneNode(true);
      document.querySelector(".docList").innerHTML += target.innerHTML;
    });
</script>

</body>
</html>