<meta th:replace="frame/start.html">
<!-- add your css here -->
<style>
  .board-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .board-menu > * {
    flex-shrink: 0;
  }
  .board-menu > div {
    margin-left: auto;
  }

  .board-header {
    padding: 0 1rem;
    margin-bottom: 1.5rem;
  }
  .board-header h5 {
    font-weight: bold;
    text-align: center;
    margin: 0;
  }

  .card {
    margin-bottom: 0.5rem;
    transition: color 0.1s, background-color 0.1s;
  }
  .card:hover {
    background-color: #fafafa;
  }
  a.card {
    color: #495057;
  }
  .card div,
  .card span,
  .card i {
    text-align: center;
  }
  .card .fw-bold {
    text-align: left;
  }
  .card:hover span {
    color: black;
  }
  .card-body {
    padding: 0.8rem 1rem;
  }

  @media (max-width: 768px) {
    .board-card-detail {
      color: rgba(0, 0, 0, 0.4);
    }
  }
</style>
<title>퀴즈 출제</title>
<meta th:replace="frame/mid.html">


<!-- add your content here! -->
<div class="board-menu">
  <h2 class="m-0 mb-3" >💡 퀴즈 출제</h2>
</div>
<a class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead class="table-light">
        <th:block>
          <tr>
            <th>학정 번호</th>
            <th>강의 제목</th>
          </tr>
        </th:block>

        </thead>
        <tbody>
        <th:block>
          <tr>
            <td th:text="${syllabus.getId()}"></td>
            <td th:text="${syllabus.getName()}"></td>
          </tr>
        </th:block>

        </tbody>
      </table>
    </div>

    <br>
  </div>
</a>


  <a class="card">
  <br>
  <h4 class="card-title text-center">퀴즈 등록</h4>
  <br>
  <div class="card-body">
    <div class="table-responsive">
      <form method="POST" id="write">
        <input type="hidden" id="csrf" th:attr="data-header-name=${_csrf.headerName}" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}"/>

        <table class="table table-bordered table-striped table-nowrap mb-0">
        <thead>
        <th:block>
          <tr>
            <th>퀴즈 번호</th>
            <th>퀴즈 제목</th>
            <th>제출 가능 시작 일자</th>
            <th>제출 가능 마감 일자</th>
          </tr>
        </th:block>

        </thead>
        <tbody>
        <th:block>
          <tr>
            <input type="hidden" name="syllabusId" th:value="${syllabus.getId()}">
            <td><input type="text" class="form-control" name="id"></td>
            <td><input type="text" class="form-control" name="name"></td>
            <td><input type="date" class="form-control" name="submitStart"></td>
            <td><input type="date" class="form-control" name="submitEnd"></td>
          </tr>
        </th:block>

        </tbody>
      </table>

      <table class="table table-bordered table-striped table-nowrap mb-0">
        <thead>
        <th:block>
          <tr>
            <th>문제 번호</th>
            <th>카테고리</th>
            <th>문제 내용</th>
            <th>모범 답안</th>
            <th>배점</th>
          </tr>
        </th:block>

        </thead>
        <tbody>



        <th:block>
          <tr>
            <input type="hidden" class="form-control" name="questionNum" value=1>
            <td th:text=1></td>
            <td>
<!--              <select class="form-select" id="autoSizingSelect">-->
<!--                <option selected="" name="category" value="1">객관식</option>-->
<!--                <option name="category" value="2">단답식</option>-->
<!--                <option name="category" value="3">주관식</option>-->

<!--              </select>-->
              <input type="number" class="form-control" name="category">
            </td>
            <td><input type="text" class="form-control" name="question"></td>
            <td><input type="text" class="form-control" name="correctAnswer"></td>
            <td><input type="number" class="form-control" name="score"></td>
            <td><input type="submit" class="form-control" name="complete" value="완료"></td>
          </tr>
        </th:block>

        </tbody>
      </table>
      </form>
    </div>

    <br>
  </div>
</a>


<meta th:replace="frame/mid2.html">
<!-- add your js here -->
<meta th:replace="frame/end.html">
