<meta th:replace="frame/start.html">

<style>
    .item{position:relative; width:150px; height:50px;}
    .item a{position:absolute; top:0; left:0; right:0; bottom:0;}
</style>

<style>
    .board-menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .board-menu > * {
        flex-shrink: 0;
    }
    .board-menu > div {
        margin-left: auto;
    }

    .board-header {
        padding: 0 1rem;
        margin-bottom: 1.5rem;
    }
    .board-header h5 {
        font-weight: bold;
        text-align: center;
        margin: 0;
    }

    .card {
        margin-bottom: 0.5rem;
        transition: color 0.1s, background-color 0.1s;
    }
    .card:hover {
        background-color: #fafafa;
    }
    a.card {
        color: #495057;
    }
    .card div,
    .card span,
    .card i {
        text-align: center;
    }
    .card .fw-bold {
        text-align: left;
    }
    .card:hover span {
        color: black;
    }
    .card-body {
        padding: 0.8rem 1rem;
    }

    @media (max-width: 768px) {
        .board-card-detail {
            color: rgba(0, 0, 0, 0.4);
        }
    }
</style>
<title>학생 퀴즈 점수 열람 </title>
<meta th:replace="frame/mid.html">

<!-- add your content here! -->
<div class="board-menu">
    <h2 class="m-0 mb-3" >학생 퀴즈 점수 열람</h2>
</div>

<a class="card">
    <br>
    <h4 class="card-title text-center">강의 정보</h4>
    <br>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead class="table-light">
                <th:block>
                    <tr>
                        <th>학정 번호</th>
                        <th>강의 제목</th>
                    </tr>
                </th:block>

                </thead>
                <tbody>
                <th:block>
                    <tr>
                    </tr>
                </th:block>

                </tbody>
            </table>
        </div>

        <br>
    </div>
</a>


<meta th:replace="frame/mid2.html">
<!-- add your js here -->
<meta th:replace="frame/end.html">