<meta th:replace="frame/start.html">
<!-- add your css here -->
<style>
    .board-menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .board-menu > * {
        flex-shrink: 0;
    }
    .board-menu > div {
        margin-left: auto;
    }

    .board-header {
        padding: 0 1rem;
        margin-bottom: 1.5rem;
    }
    .board-header h5 {
        font-weight: bold;
        text-align: center;
        margin: 0;
    }

    .card {
        margin-bottom: 0.5rem;
        transition: color 0.1s, background-color 0.1s;
    }
    .card:hover {
        background-color: #fafafa;
    }
    a.card {
        color: #495057;
    }
    .card div,
    .card span,
    .card i {
        text-align: center;
    }
    .card .fw-bold {
        text-align: left;
    }
    .card:hover span {
        color: black;
    }
    .card-body {
        padding: 0.8rem 1rem;
    }

    @media (max-width: 768px) {
        .board-card-detail {
            color: rgba(0, 0, 0, 0.4);
        }
    }
</style>
<title>퀴즈</title>
<meta th:replace="frame/mid.html">


<!-- add your content here! -->
<div class="board-menu">
    <h2 class="m-0 mb-3" >💡 퀴즈</h2>
    <div class="mb-5 d-flex justify-content-center gap-4">
        <!-- 학기 선택 -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="semester" data-bs-toggle="dropdown" aria-expanded="true">
                [[${formatYS}?${formatYS}:'학기 선택']]
                <i class="mdi mdi-chevron-down"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="semester">
                <li th:each="key : ${mapYS.keySet()}">
                    <a class="dropdown-item"
                       th:attr="href=${'?year-semester=' + key}"
                       th:text="${mapYS.get(key)}"></a>
                </li>
            </ul>
        </div>

        <!-- 강의 선택 -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="syllabus" data-bs-toggle="dropdown" aria-expanded="false"
                    th:attr="data-sid=${selectedSyllabusId}">
                [[${selectedSyllabusName}?${selectedSyllabusName}:'강의 선택']]
                <i class="mdi mdi-chevron-down"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="syllabus">
                <li><a class="dropdown-item" th:attr="href=${'?year-semester=' + yearSemester}">전체</a></li>
                <li th:if="${#authorization.expression('hasRole(''PROFESSOR'')')}" th:each="s : ${syllabuses}">
                    <a class="dropdown-item"
                       th:attr="href=${'?syllabus-id=' + s.getId()}"
                       th:text="${s.getName() + ' (' + s.formatClassTime() + ')'}"></a>
                </li>
                <li th:if="${#authorization.expression('hasRole(''STUDENT'')')}" th:each="s : ${syllabuses}">
                    <a class="dropdown-item"
                       th:attr="href=${'?syllabus-id=' + s.getId()}"
                       th:text="${s.getName() + ' - ' + s.getProfessor().getName() + ' (' + s.formatClassTime() + ')'}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="board-header row d-none d-md-flex">
    <div class="col-12">
        <div class="row">
            <h5 class="col-2">번호</h5>
            <h5 class="col-2">제목</h5>
            <h5 class="col-4 ms-md-auto">응시 기간</h5>
            <h5 class="col-2">상태</h5>
            <h5 class="col-1">응시 결과</h5>
            <h5 class="col-1">응시</h5>
        </div>
    </div>


</div>

<div class="row">
<th:block th:if="${quizList.isEmpty() eq false}" th:each="i : ${#numbers.sequence(0,quizList.size()-1)}">
    <div class="col-xl-11">
    <a class="card" >
        <div class="card-body" >
            <div class="row">
                <div class="col-2" th:text="${quizList.get(i).getId()}"></div>
                <div class="col-2" th:text="${quizList.get(i).getName()}"></div>
                <div class="col-4 ms-md-auto" th:text="${#dates.format(quizList.get(i).getSubmitStart(), 'yyyy-MM-dd HH:mm:ss')+'~'+#dates.format(quizList.get(i).getSubmitEnd(), 'yyyy-MM-dd HH:mm:ss')}"></div>
                <div class="col-2 " th:if="${quizList.get(i).getSubmitted() eq true}" th:text="O"></div>
                <div class="col-2 " th:unless="${quizList.get(i).getSubmitted() eq true}" th:text="X"></div>
                <div class="col-1 "></div>
            </div>
        </div>
    </a>
    </div>
    <div class="col-xl-1">
        <a class="card" th:unless="${quizList.get(i).getSubmitted() eq true}"
           th:href="${'/s/quiz/detail/' + quizList.get(i).getId() +'&'+ selectedSyllabusId}">
            <div class="card-body" >
                응시
            </div>
        </a>
    </div>
</th:block>

<th:block th:unless="${quizList.isEmpty() eq false}">
    <a class="card text-center">
        <div class="card-body" >
        등록된 내용이 없습니다.
        </div>
    </a>
</th:block>
</div>



<meta th:replace="frame/mid2.html">
<!-- add your js here -->
<script>
    const btnPut = document.querySelector('#test');
    if (btnPut)
        btnPut.addEventListener('click', evt => {
            const sid = document.querySelector('#test').getAttribute('data-sid');
            const sidd = document.querySelector('#syllabus').getAttribute('data-sid');

            location.href = '/s/quiz/detail/' + sid +'&'+sidd ;
        });
</script>

<meta th:replace="frame/end.html">