<meta th:replace="frame/start.html">
<!-- add your css here -->
<title>퀴즈 풀기</title>
<meta th:replace="frame/mid.html">



<div class="board-menu">
    <h4 class="m-0 mb-3" >
        <td>
            💡
        </td>
        <td th:text="${quizTest.get(question_num).getSyllabus().getName()}"></td>
        <th th:text="${quizTest.get(question_num).getName()}"></th>
    </h4>
</div>

<div class="row">
    <div class="col-xl-10">
        <div class="card">
            <div class="card-body">
                <h4>
                    <td class="card-title">문제</td>
                    <td class="card-title" th:text="${quizTest.get(question_num).getQuestionNum()}"></td>
                </h4>
                <p> <td th:text="${quizTest.get(question_num).getQuestion()}"></td> </p>
                <form action="#" class="custom-validation" novalidate="" method="post">
                    <input type="hidden" id="csrf" th:attr="data-header-name=${_csrf.headerName}" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}"/>
                    <div class="mb-3">
                        <div class="mb-3">
                            <td th:if="${quizTest.get(question_num).getCategory() eq 1}">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="answer" id="inlineRadio1" value="1">
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="answer" id="inlineRadio2" value="2">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="answer" id="inlineRadio3" value="3">
                                    <label class="form-check-label" for="inlineRadio2">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="answer" id="inlineRadio4" value="4">
                                    <label class="form-check-label" for="inlineRadio2">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="answer" id="inlineRadio5" value="5">
                                    <label class="form-check-label" for="inlineRadio2">5</label>
                                </div>
                            </td>
                            <td th:if="${quizTest.get(question_num).getCategory() eq 2}">
                                <input type="text" class="form-control" required="" data-parsley-minlength="6" placeholder="답을 적으시오" name="answer">
                            <td th:if="${quizTest.get(question_num).getCategory() eq 3}">
                                <textarea required="" class="form-control" rows="3" placeholder="답을 적으시오" name="answer"></textarea>
                        </div>
                    </div>
                    <div class="mb-1 d-flex justify-content-end gap-4">
                    <td><input type="submit" value="저장하기" class="btn btn-secondary waves-effect waves-light float-right" ></td>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
    <a class="card">
        <div class="card-body">
            <h4 class="card-title">문제 번호</h4>
            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <th:block  style="cursor: pointer;" th:each="i : ${#numbers.sequence(1,quizTest.size())}" >
                        <tr>
                            <th row scope="row">
                            <a th:attr="href=${'?question_num=' + i} "
                               th:text="${i}"></a></th>
                            <input type="hidden" name="testId" th:value="${i}">
                            <td>L</td>
                        </tr>
                    </th:block>
                </table>
            </div>
            <br>
            <div class="mb-1 d-flex justify-content-center gap-4">
                <input type="button" value="제출하기" class="btn btn-primary waves-effect waves-light" th:onclick="| location.href='@{/s/quiz/list}'|">
            </div>
        </div>
    </a>
    </div>
</div>




<meta th:replace="frame/mid2.html">
<!-- add your js here -->
<meta th:replace="frame/end.html">