<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>admin page</title>
</head>
<body>
<h2>교수 전용 페이지(교수 전용)</h2>
<hr>

ID : <span sec:authentication="name"></span> <br>
소유 권한 : <span sec:authentication="authorities"></span> <br>

<form id="logout" th:action="@{/logout}" method="GET">
    <input type="submit" value="로그아웃"/>
</form> <br>

<a href="/home">홈으로 이동-></a>
</body>
</html>