<meta th:replace="frame/start.html">
<!-- add your css here -->
<title>강의 계획서 세부 조회</title>
<meta th:replace="frame/mid.html">


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap mb-0">
                        <colgroup>
                            <col width="10%">
                            <col>
                            <col width="10%">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th class="table-light">교과목명</th>
                            <td colspan="3" th:text="${syllabusInfo.get().getName()}">컴퓨터구조-Computer Architecture</td>
                            <th class="table-light">년도학기</th>
                            <td th:text="${syllabusYear}">2022/1</td>
                        </tr>
                        <tr>
                            <th class="table-light">학정번호</th>
                            <td colspan="3" th:text="${syllabusInfo.get().getId()}">H030-3-1647-01</td>
                            <th class="table-light">이수구분</th>
                            <td th:text="${syllabusInfo.get().getCategory()}">전선</td>
                        </tr>
                        <tr>
                            <th class="table-light">강의소개<br>동영상</th>
                            <td colspan="3"></td>
                            <th class="table-light">학점/시간</th>
                            <td th:text="${syllabusInfo.get().getCredit()} + '/3'">3/3</td>
                        </tr>
                        <tr>
                            <th class="table-light">강의시간 1</th>
                            <td colspan="3" th:text="${syllabusInfo.get().getDayOfWeek1()} + ' ' + ${syllabusInfo.get().getTime1()}">금 1,2교시 (미지정)</td>
                            <th class="table-light">강의시간 2</th>
                            <td th:text="${syllabusInfo.get().getDayOfWeek2()} + ' ' + ${syllabusInfo.get().getTime2()}"></td>
                        </tr>
                        <tr>
                            <th rowspan="3" class="table-light">담당교수</th>
                            <td rowspan="3" th:text="${syllabusInfo.get().getProfessor().getName()}">이윤구</td>
                            <th rowspan="3" class="table-light">구분</th>
                            <td rowspan="3" class="table-light">교수</td>
                            <th class="table-light">연락처</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="table-light">이동전화</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="table-light">이메일</th>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--뒤로가기 버튼 추가-->
                    <br>
                    <input type="button" class="btn-light" value="뒤로가기" th:onclick="| location.href='@{/s/syllabus}'|">
                </div>
            </div>
        </div>
    </div>
</div>


<meta th:replace="frame/mid2.html">
<!-- add your js here -->
<meta th:replace="frame/end.html">