<meta th:replace="frame/start.html">
<!-- add your css here -->
<title>강의 계획서 조회</title>
<meta th:replace="frame/mid.html">

<!--강의 계획서-->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <h5 class="card-title mb-3">강의명 :</h5>
                    <form th:action="@{/s/syllabus}" method="get" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input type="search" name="syllabus-name" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>
                </div>
                <br>
                <div>
                    <h5 class="card-title mb-3">교수명 :</h5>
                    <form th:action="@{/s/syllabus}" method="get" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input type="search" name="professor-name" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--강의 계획서 table-->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table th:if="${syllabuses != null}" class="table align-middle table-nowrap mb-0">
                        <thead class="table-light">
                        <tr>
                            <th onclick="event.cancelBubble = true;">학정 번호</th>
                            <th onclick="event.cancelBubble = true;">과목명</th>
                            <th onclick="event.cancelBubble = true;">교과</th>
                            <th onclick="event.cancelBubble = true;">학점</th>
                            <th onclick="event.cancelBubble = true;">교수</th>
                            <th onclick="event.cancelBubble = true;">조회</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="syllabus : ${syllabuses}" style="cursor: pointer;">
                            <td th:text="${syllabus.getId()}" name="syllabus-id"></td>
                            <td th:text="${syllabus.getName()}"></td>
                            <td th:text="${syllabus.getCategory()}"></td>
                            <td th:text="${syllabus.getCredit()}"></td>
                            <td th:text="${syllabus.getProfessor().getName()}"></td>
                            <td>
                                <input type="button" class="btn-info" value="조회하기" th:onclick="'location.href=\''+ @{${'/s/syllabusDetail/' + syllabus.getId()}} + '\''">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<meta th:replace="frame/mid2.html">
<!-- add your js here -->
<meta th:replace="frame/end.html">