<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta th:replace="/frame/head.html">
    <title>과제</title>
    <style>
        tbody > tr {
            cursor: pointer;
        }
    </style>
</head>
<header sec:authorize="hasRole('STUDENT')" th:replace="/frame/sHeader.html"></header>
<header sec:authorize="hasRole('PROFESSOR')" th:replace="/frame/pHeader.html"></header>

<div class="container">
    <h2 class="my-4">✒️ 과제</h2>
    <div class="d-flex justify-content-center gap-4 mb-4">
        <!-- 학기 선택 -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="semester" data-bs-toggle="dropdown" aria-expanded="false"
                    th:text="${formatYS}">
                학기 선택
            </button>
            <ul class="dropdown-menu" aria-labelledby="semester">
                <li th:each="key : ${mapYS.keySet()}">
                    <a class="dropdown-item"
                       th:attr="href=${'?year-semester=' + key}"
                       th:text="${mapYS.get(key)}"></a>
                </li>
            </ul>
        </div>

        <!-- 강의 선택 -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="syllabus" data-bs-toggle="dropdown" aria-expanded="false"
                    th:text="${selectedSyllabusName}" th:attr="data-sid=${selectedSyllabusId}">
                강의 선택
            </button>
            <ul class="dropdown-menu" aria-labelledby="syllabus">
                <li><a class="dropdown-item" th:attr="href=${'?year-semester=' + yearSemester}">전체</a></li>
                <li sec:authorize="hasRole('PROFESSOR')" th:each="s : ${syllabuses}">
                    <a class="dropdown-item"
                       th:attr="href=${'?syllabus-id=' + s.getId()}"
                       th:text="${s.getName() + ' (' + s.formatClassTime() + ')'}"></a>
                </li>
                <li sec:authorize="hasRole('STUDENT')" th:each="s : ${syllabuses}">
                    <a class="dropdown-item"
                       th:attr="href=${'?syllabus-id=' + s.getId()}"
                       th:text="${s.getName() + ' (' + s.formatClassTime() + ') - ' + s.getProfessor().getName()}"></a>
                </li>
            </ul>
        </div>

        <button class="btn btn-primary" type="button" aria-expanded="false" id="write"
                sec:authorize="hasRole('PROFESSOR')">
            글쓰기
        </button>
    </div>

    <!-- 게시글 목록 -->
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="text-center">글 번호</th>
            <th class="text-center" th:if="${selectedSyllabusId.isEmpty()}">강의명</th>
            <th class="text-center" th:if="${selectedSyllabusId.isEmpty()}">강의시간</th>
            <th class="text-center">제목</th>
            <th></th>
            <th class="text-center">제출기한</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="as : ${assignments}">
            <td class="text-center" th:text="${as.getId()}"></td>
            <td class="text-center" th:if="${selectedSyllabusId.isEmpty()}" th:text="${as.getSyllabus().getName()}"></td>
            <td class="text-center" th:if="${selectedSyllabusId.isEmpty()}" th:text="${as.getSyllabus().formatClassTime()}"></td>
            <td th:text="${as.getName()}"></td>
            <td class="text-end">
                <i class="far fa-image" th:if="${as.getContent().contains('![image](')}"></i>
                <i class="fa fa-paperclip" th:if="${as.getAttachmentName() != null && !as.getAttachmentName().isEmpty()}"></i>
            </td>
            <td class="text-center" th:text="${
                #dates.format(as.getSubmitStart(), 'yyyy-MM-dd HH:mm') + ' ~ ' +
                #dates.format(as.getSubmitEnd(),   'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="/frame/footer.html"></footer>
<script th:replace="/frame/tail.html"></script>
<script>
    const btnWrite = document.querySelector('#write');

    // 게시글 리스트 각각 이동 이벤트
    document.querySelectorAll('tbody > tr').forEach(e => e.addEventListener('click', evt =>
        location.href = './assignment/' + e.querySelector('td').innerText));

    // 글쓰기 버튼 이벤트
    if (btnWrite)
        btnWrite.addEventListener('click', evt => {
            const sid = document.querySelector('#syllabus').getAttribute('data-sid');
            location.href = './assignment/write' + (sid ? '?syllabus-id=' + sid : '');
        });
</script>
</body>
</html>