<meta th:replace="frame/start.html">
<!-- add your css here -->
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css" />
<style>
    h6 {
        font-weight: bold;
    }
    table {
        min-width: 684px;
    }
</style>
<title>과제</title>
<meta th:replace="frame/mid.html">


<!-- add your content here! -->
<!-- 타이틀 및 메뉴 -->
<div class="d-flex justify-content-end align-items-end gap-2 mb-4">
    <h2 class="me-auto">✒️ 과제</h2>

    <a class="btn btn-secondary" th:attr="href='../assignment'">목록</a>
    <a class="btn btn-primary" th:attr="href='./edit/' + ${assignment.getId()}">수정</a>
    <a class="btn btn-danger" th:attr="href='./delete/' + ${assignment.getId()}"
       data-bs-toggle="tooltip" data-bs-placement="top" title="누르면 바로 삭제됨">삭제</a>
</div>

<!-- 과제 정보 -->
<div class="row">
<!--        제목 -->
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3 border-end"><h6>강의</h6></div>
                    <div class="col-9"><p th:text="${assignment.getSyllabus().formatDetailName()}"></p></div>
                </div>
                <div class="row">
                    <div class="col-3 border-end"><h6>제목</h6></div>
                    <div class="col-9"><p th:text="${assignment.getName()}"></p></div>
                </div>
                <div class="row">
                    <div class="col-3 border-end"><h6>제출기한</h6></div>
                    <div class="col-9"><p th:text="${
                        #dates.format(assignment.getSubmitStart(), 'yyyy-MM-dd HH시 mm분') + ' ~ ' +
                        #dates.format(assignment.getSubmitEnd(),   'yyyy-MM-dd HH시 mm분')}"></p></div>
                </div>
                <div class="row">
                    <div class="col-3 border-end"><h6>첨부파일</h6></div>
                    <div class="col-9">
                        <a class="text-decoration-none text-primary" target="_blank"
                           th:attr="href=${assignment.getAttachmentPath()} + '?filename=' + ${assignment.getAttachmentName()}"
                           th:text="${assignment.getAttachmentName()}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--        내용 -->
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h6 class="pb-2 border-bottom">내용</h6>
                <div id="viewer"></div>
            </div>
        </div>
    </div>
</div>

<!-- 과제 제출 -->
<h2 class="mt-5 mb-4">📑 제출 현황 및 채점</h2>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>학번</th>
                    <th>전공</th>
                    <th>이름</th>
                    <th>제출일</th>
                    <th>
                        <span class="fw-bold">첨부파일</span>
                        <a class="ps-1 text-decoration-none text-primary"
                           th:href="'./submit-files/' + ${assignment.getId()}">전체다운로드</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="info : ${infos}">
                    <td th:text="${info.getMember().getId()}"></td>
                    <td th:text="${info.getMember().getMajor()}"></td>
                    <td th:text="${info.getMember().getName()}"></td>

                    <!--            제출하지 않았으면 빈칸으로 기재 -->
                    <th:block th:if="${info.getBoard().isEmpty()}">
                        <td></td>
                        <td></td>
                    </th:block>
                    <!--            제출을 했으면 정보들로 기재 -->
                    <th:block th:if="${!info.getBoard().isEmpty()}">
                        <td th:text="${#dates.format(info.getBoard().get().getDate(), 'yyyy-MM-dd')}"></td>
                        <td><a class="text-decoration-none text-primary"
                               th:attr="href=${info.getBoard().get().getAttachmentPath()} + '?filename=' + ${info.getBoard().get().getAttachmentName()}"
                               th:text="${info.getBoard().get().getAttachmentName()}"></a></td>
                    </th:block>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<meta th:replace="frame/mid2.html">
<!-- add your js here -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    // 삭제 버튼 툴팁
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    // Toast UI 뷰어
    const viewer = new toastui.Editor.factory({
        el: document.querySelector('#viewer'),
        viewer: true,
        initialValue: `[(${assignment.getContent()})]`
    });
</script>
<meta th:replace="frame/end.html">