<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta th:replace="/frame/head.html">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css" />
    <title th:text="'과제 - ' + ${assignment.getSyllabus().getName()}"></title>
</head>
<body>
<header sec:authorize="hasRole('STUDENT')" th:replace="/frame/sHeader.html"></header>
<header sec:authorize="hasRole('PROFESSOR')" th:replace="/frame/pHeader.html"></header>

<div class="container">

    <div class="d-flex justify-content-end align-items-end gap-2 my-4">
        <h2 class=" me-auto">✒️ 과제</h2>

        <a class="btn btn-secondary" th:attr="href='../assignment'">목록</a>
        <a class="btn btn-primary" th:attr="href='./edit/' + ${assignment.getId()}">수정</a>
        <a class="btn btn-danger" th:attr="href='./delete/' + ${assignment.getId()}"
           data-bs-toggle="tooltip" data-bs-placement="top" title="누르면 바로 삭제됨">삭제</a>
    </div>

    <table class="table table-bordered" style="margin-bottom: 4rem;">
        <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 80%;">
        </colgroup>

        <tr><th class="table-active text-center">강의</th>
            <td th:text="${assignment.getSyllabus().formatDetailName()}"></td></tr>

        <tr><th class="table-active text-center">제목</th>
            <td th:text="${assignment.getName()}"></td></tr>

        <tr><th class="table-active text-center">제출기한</th>
            <td th:text="${
                #dates.format(assignment.getSubmitStart(), 'yyyy-MM-dd HH시 mm분') + ' ~ ' +
                #dates.format(assignment.getSubmitEnd(),   'yyyy-MM-dd HH시 mm분')}"></td></tr>

        <tr><th class="table-active text-center">내용</th>
            <td><div id="viewer"></div></td></tr>

        <tr><th class="table-active text-center">첨부파일</th>
            <td><a class="text-decoration-none text-primary" target="_blank"
                   th:attr="href=${assignment.getAttachmentPath()} + '?filename=' + ${assignment.getAttachmentName()}"
                   th:text="${assignment.getAttachmentName()}"></a></td></tr>
    </table>

    <h4 class="my-4">제출 현황 및 채점</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>학번</th>
            <th>전공</th>
            <th>이름</th>
            <th>제출일</th>
            <th>첨부파일  <a class="text-decoration-none text-primary"
                th:href="'./submit-files/' + ${assignment.getId()}">전체다운로드</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="info : ${infos}">
            <td th:text="${info.getMember().getId()}"></td>
            <td th:text="${info.getMember().getMajor()}"></td>
            <td th:text="${info.getMember().getName()}"></td>

<!--            제출하지 않았으면 빈칸으로 기재 -->
            <th:block th:if="${info.getBoard().isEmpty()}">
                <td></td>
                <td></td>
            </th:block>
<!--            제출을 했으면 정보들로 기재 -->
            <th:block th:if="${!info.getBoard().isEmpty()}">
                <td th:text="${#dates.format(info.getBoard().get().getDate(), 'yyyy-MM-dd')}"></td>
                <td><a class="text-decoration-none text-primary"
                       th:attr="href=${info.getBoard().get().getAttachmentPath()} + '?filename=' + ${info.getBoard().get().getAttachmentName()}"
                       th:text="${info.getBoard().get().getAttachmentName()}"></a></td>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="/frame/footer.html"></footer>
<script th:replace="/frame/tail.html"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    // 삭제 버튼 툴팁
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    // Toast UI 뷰어
    const viewer = new toastui.Editor.factory({
        el: document.querySelector('#viewer'),
        viewer: true,
        initialValue: `[(${assignment.getContent()})]`
    });
</script>
</body>
</html>