<meta th:replace="frame/start.html">
<!-- add your css here -->
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css" />
<style>
    h6 {
        font-weight: bold;
    }
</style>
<title>과제</title>
<meta th:replace="frame/mid.html">


<!-- add your content here! -->
<!-- 과제 정보 타이틀 및 메뉴 -->
<div class="d-flex justify-content-end align-items-end gap-2 mb-4">
    <h2 class="me-auto">✒️ 과제</h2>

    <a class="btn btn-secondary" th:attr="href='../assignment'">목록</a>
</div>

<!-- 과제 정보 -->
<div class="row">
    <!--        제목 -->
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3 border-end"><h6>강의</h6></div>
                    <div class="col-9"><p th:text="${assignment.getSyllabus().formatDetailName()}"></p></div>
                </div>
                <div class="row">
                    <div class="col-3 border-end"><h6>제목</h6></div>
                    <div class="col-9"><p th:text="${assignment.getName()}"></p></div>
                </div>
                <div class="row">
                    <div class="col-3 border-end"><h6>제출기한</h6></div>
                    <div class="col-9"><p th:text="${
                        #dates.format(assignment.getSubmitStart(), 'yyyy-MM-dd HH시 mm분') + ' ~ ' +
                        #dates.format(assignment.getSubmitEnd(),   'yyyy-MM-dd HH시 mm분')}"></p></div>
                </div>
                <div class="row" th:if="${assignment.getAttachmentName() != null && !assignment.getAttachmentName().isEmpty()}">
                    <div class="col-3 border-end"><h6>첨부파일</h6></div>
                    <div class="col-9">
                        <a class="text-decoration-none text-primary" target="_blank"
                           th:attr="href=${assignment.getAttachmentPath()} + '?filename=' + ${assignment.getAttachmentName()}"
                           th:text="${assignment.getAttachmentName()}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--        내용 -->
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h6 class="pb-2 border-bottom">내용</h6>
                <div id="viewer"></div>
            </div>
        </div>
    </div>
</div>

<!-- 과제 제출 타이틀 및 메뉴 -->
<div class="d-flex justify-content-between align-items-end gap-2 mt-5 my-4">
    <h2 class="me-auto">📑 내 제출</h2>

    <a class="btn btn-primary" th:attr="href='./edit/' + ${assignment.getId()}">수정</a>
    <a class="btn btn-danger" th:attr="href='./delete/' + ${assignment.getId()}"
       data-bs-toggle="tooltip" data-bs-placement="top" title="누르면 바로 삭제됨">삭제</a>
</div>

<!-- 과제 제출 -->
<div class="row">
    <!--        제목 -->
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3 border-end"><h6>제목</h6></div>
                    <div class="col-9"><p th:text="${board.getTitle()}"></p></div>
                </div>
                <div class="row">
                    <div class="col-3 border-end"><h6>제출일</h6></div>
                    <div class="col-9"><p th:text="${#dates.format(board.getDate(), 'yyyy-MM-dd HH시 mm분')}"></p></div>
                </div>
                <div class="row">
                    <div class="col-3 border-end"><h6>첨부파일</h6></div>
                    <div class="col-9">
                        <a class="text-decoration-none text-primary" target="_blank"
                           th:attr="href=${board.getAttachmentPath()} + '?filename=' + ${board.getAttachmentName()}"
                           th:text="${board.getAttachmentName()}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--        내용 -->
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h6 class="pb-2 border-bottom">내용</h6>
                <div id="viewerSubmit"></div>
            </div>
        </div>
    </div>
</div>


<meta th:replace="frame/mid2.html">
<!-- add your js here -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    // 삭제 버튼 툴팁
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    // Toast UI 뷰어 - 과제
    const viewer = new toastui.Editor.factory({
        el: document.querySelector('#viewer'),
        viewer: true,
        initialValue: `[(${assignment.getContent()})]`
    });

    // Toast UI 뷰어 - 내 제출
    const viewerSubmit = new toastui.Editor.factory({
        el: document.querySelector('#viewerSubmit'),
        viewer: true,
        initialValue: `[(${board.getContent()})]`
    });
</script>
<meta th:replace="frame/end.html">