<meta th:replace="frame/start.html">
<!-- add your css here -->
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css" />
<style>
    .toastui-editor-md-mode {
        background-color: white;
    }
    h6 {
        font-weight: bold;
    }
</style>
<title>과제</title>
<meta th:replace="frame/mid.html">


<!-- add your content here! -->
<!-- 과제 정보 타이틀 및 메뉴 -->
<div class="d-flex justify-content-end align-items-end gap-2 mb-4">
    <h2 class="me-auto">✒️ 과제</h2>
</div>

<!-- 과제 정보 -->
<div class="row">
    <!--        제목 -->
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3 border-end"><h6>강의</h6></div>
                    <div class="col-9"><p th:text="${assignment.getSyllabus().formatDetailName()}"></p></div>
                </div>
                <div class="row">
                    <div class="col-3 border-end"><h6>제목</h6></div>
                    <div class="col-9"><p th:text="${assignment.getName()}"></p></div>
                </div>
                <div class="row">
                    <div class="col-3 border-end"><h6>제출기한</h6></div>
                    <div class="col-9"><p th:text="${
                        #dates.format(assignment.getSubmitStart(), 'yyyy-MM-dd HH시 mm분') + ' ~ ' +
                        #dates.format(assignment.getSubmitEnd(),   'yyyy-MM-dd HH시 mm분')}"></p></div>
                </div>
                <div class="row" th:if="${assignment.getAttachmentName() != null && !assignment.getAttachmentName().isEmpty()}">
                    <div class="col-3 border-end"><h6>첨부파일</h6></div>
                    <div class="col-9">
                        <a class="text-decoration-none text-primary" target="_blank"
                           th:attr="href=${assignment.getAttachmentPath()} + '?filename=' + ${assignment.getAttachmentName()}"
                           th:text="${assignment.getAttachmentName()}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--        내용 -->
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h6 class="pb-2 border-bottom">내용</h6>
                <div id="viewer"></div>
            </div>
        </div>
    </div>
</div>

<!-- 과제 제출 타이틀 및 메뉴 -->
<div class="d-flex justify-content-between align-items-end gap-2 mt-5 my-4">
    <h2 class="me-auto">📑 내 제출</h2>
</div>

<!-- 과제 제출 -->
<div class="row">
    <form method="POST" id="write">
        <input type="hidden" id="csrf" th:attr="data-header-name=${_csrf.headerName}" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}"/>
        <select class="form-control d-none" id="syllabus" name="syllabusId" disabled>
            <option th:value="${assignment.getSyllabus().getId()}" selected></option>
        </select>

        <div class="mb-3 row">
            <label for="inputTitle" class="col-sm-2 col-form-label">제목</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTitle" name="title"
                       th:value="${board}?${board.getTitle()}:''">
            </div>
        </div>
        <div class="mb-3 row">
            <div id="inputContent" name="content"></div>
        </div>
        <div class="mb-3 row">
            <div class="col">
                <div class="form-check mb-1" th:if="${board}?${board.getAttachmentName() != null && !board.getAttachmentName().isEmpty()}:false">
                    <input class="form-check-input" type="checkbox" value="true" id="deleteFile" name="deleteFile">
                    <label class="form-check-label" for="deleteFile" th:text="${board.getAttachmentName()}+' (체크시 삭제)'"></label>
                </div>
                <input class="form-control" type="file" id="file" name="file">
            </div>
        </div>
        <div class="mb-3 d-flex justify-content-between gap-3">
            <a href="/s/assignment" type="button" class="btn btn-secondary">목록</a>
            <button type="submit" class="btn btn-primary" th:text="${board}?'수정완료':'작성완료'"></button>
        </div>
    </form>
</div>


<meta th:replace="frame/mid2.html">
<!-- add your js here -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    // Toast UI 뷰어 - 과제
    const viewer = new toastui.Editor.factory({
        el: document.querySelector('#viewer'),
        viewer: true,
        initialValue: `[(${assignment.getContent()})]`
    });

    const initialValue= `[(${board} ? ${board.getContent()} : '')]`;
</script>
<script type="text/javascript" src="/assets/js/pBoardWrite.js"></script>
<meta th:replace="frame/end.html">