<meta th:replace="frame/start.html">
<!-- add your css here -->
<title>시간표</title>
<meta th:replace="frame/mid.html">
<link rel="stylesheet" type="text/css" href="/assets/css/custom/timetable.css">
<style>
    .board-menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .board-menu > * {
        flex-shrink: 0;
    }
    .board-menu > div {
        margin-left: auto;
    }

    .board-header {
        padding: 0 1rem;
        margin-bottom: 1.5rem;
    }
    .board-header h5 {
        font-weight: bold;
        text-align: center;
        margin: 0;
    }

    .card {
        margin-bottom: 0.5rem;
        transition: color 0.1s, background-color 0.1s;
    }
    .card:hover {
        background-color: #fafafa;
    }
    a.card {
        color: #495057;
    }
    .card div,
    .card span,
    .card i {
        text-align: center;
    }
    .card .fw-bold {
        text-align: left;
    }
    .card:hover span {
        color: black;
    }
    .card-body {
        padding: 0.8rem 1rem;
    }

    @media (max-width: 768px) {
        .board-card-detail {
            color: rgba(0, 0, 0, 0.4);
        }
    }
</style>

<!--학기 리스트 선택-->
<div class="board-menu">
    <div class="mb-4 d-flex justify-content-center gap-4">
        <!-- 학기 선택 -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="semester" data-bs-toggle="dropdown" aria-expanded="true">
                [[${formatYS}?${formatYS}:'학기 선택']]
                <i class="mdi mdi-chevron-down"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="semester">
                <li th:each="key : ${mapYS.keySet()}">
                    <a class="dropdown-item"
                       th:attr="href=${'?year-semester=' + key}"
                       th:text="${mapYS.get(key)}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--시간표 https://www.bootdey.com/snippets/view/time-table#html -->
<div class="row">                                                           <!-- 출석 조회 -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">시간표 조회</h4>
                <p class="card-title-desc"></p>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">

                        <thead>
                        <tr class="bg-info bg-soft">
                            <th class="text-uppercase">Time
                            </th>
                            <th class="text-uppercase">Monday</th>
                            <th class="text-uppercase">Tuesday</th>
                            <th class="text-uppercase">Wednesday</th>
                            <th class="text-uppercase">Thursday</th>
                            <th class="text-uppercase">Friday</th>
                            <th class="text-uppercase">Saturday</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="align-middle">09:00am</td>
                            <td th:if="${period != null}" th:each="period : ${t1}">
                                <span th:text="${period.getClassName()}" th:attr="class=${period.getClassName() != '' ? 'bg-warning bg-soft text-dark padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom font-size16 xs-font-size13' : ''}"></span>
                                <div th:text='${period.getProfessorName() != "" ? "9:00-10:15" : ""}' class="margin-10px-top font-size14"></div>
                                <div th:text="${period.getProfessorName()}" class="font-size13 text-light-gray"></div>
                            </td>
                        </tr>

                        <tr>
                            <td class="align-middle">10:30am</td>
                            <td th:if="${period != null}" th:each="period : ${t2}">
                                <span th:text="${period.getClassName()}" th:attr="class=${period.getClassName() != '' ? 'bg-danger bg-soft text-dark padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom font-size16 xs-font-size13' : ''}"></span>
                                <div th:text='${period.getProfessorName() != "" ? "10:30-11:45" : ""}' class="margin-10px-top font-size14"></div>
                                <div th:text="${period.getProfessorName()}" class="font-size13 text-light-gray"></div>
                            </td>
                        </tr>

                        <tr>
                            <td class="align-middle">12:00am</td>
                            <td th:if="${period != null}" th:each="period : ${t3}">
                                <span th:text="${period.getClassName()}" th:attr="class=${period.getClassName() != '' ? 'bg-success bg-soft text-dark padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom font-size16 xs-font-size13' : ''}"></span>
                                <div th:text='${period.getProfessorName() != "" ? "12:00-13:15" : ""}' class="margin-10px-top font-size14"></div>
                                <div th:text="${period.getProfessorName()}" class="font-size13 text-light-gray"></div>
                            </td>
                        </tr>

                        <tr>
                            <td class="align-middle">13:30pm</td>
                            <td th:if="${period != null}" th:each="period : ${t4}">
                                <span th:text="${period.getClassName()}" th:attr="class=${period.getClassName() != '' ? 'bg-primary bg-soft text-dark padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom font-size16 xs-font-size13' : ''}"></span>
                                <div th:text='${period.getProfessorName() != "" ? "13:30-14:45" : ""}' class="margin-10px-top font-size14"></div>
                                <div th:text="${period.getProfessorName()}" class="font-size13 text-light-gray"></div>
                            </td>
                        </tr>

                        <tr>
                            <td class="align-middle">15:00pm</td>
                            <td th:if="${period != null}" th:each="period : ${t5}">
                                <span th:text="${period.getClassName()}" th:attr="class=${period.getClassName() != '' ? 'bg-dark bg-soft text-dark padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom font-size16 xs-font-size13' : ''}"></span>
                                <div th:text='${period.getProfessorName() != "" ? "15:00-16:15" : ""}' class="margin-10px-top font-size14"></div>
                                <div th:text="${period.getProfessorName()}" class="font-size13 text-light-gray"></div>
                            </td>
                        </tr>

                        <tr>
                            <td class="align-middle">16:30pm</td>
                            <td th:if="${period != null}" th:each="period : ${t6}">
                                <span th:text="${period.getClassName()}" th:attr="class=${period.getClassName() != '' ? 'bg-info bg-soft text-dark padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom font-size16 xs-font-size13' : ''}"></span>
                                <div th:text='${period.getProfessorName() != "" ? "16:30-17:45" : ""}' class="margin-10px-top font-size14"></div>
                                <div th:text="${period.getProfessorName()}" class="font-size13 text-light-gray"></div>
                            </td>
                        </tr>

                        <tr th:remove="${t7 == null ? 'all' : 'none'}">
                            <td class="align-middle">18:00pm</td>
                            <td th:if="${period != null}" th:each="period : ${t7}">
                                <span th:text="${period.getClassName()}" th:attr="class=${period.getClassName() != '' ? 'bg-secondary bg-soft text-dark padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom font-size16 xs-font-size13' : ''}"></span>
                                <div th:text='${period.getProfessorName() != "" ? "18:00-19:00" : ""}' class="margin-10px-top font-size14"></div>
                                <div th:text="${period.getProfessorName()}" class="font-size13 text-light-gray"></div>
                            </td>
                        </tr>

                        <tr th:remove="${t8 == null ? 'all' : 'none'}">
                            <td class="align-middle">19:00pm</td>
                            <td th:if="${period != null}" th:each="period : ${t8}">
                                <span th:text="${period.getClassName()}" th:attr="class=${period.getClassName() != '' ? 'bg-secondary bg-soft text-dark padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom font-size16 xs-font-size13' : ''}"></span>
                                <div th:text='${period.getProfessorName() != "" ? "19:00-20:00" : ""}' class="margin-10px-top font-size14"></div>
                                <div th:text="${period.getProfessorName()}" class="font-size13 text-light-gray"></div>
                            </td>
                        </tr>

                        <tr th:remove="${t9 == null ? 'all' : 'none'}">
                            <td class="align-middle">20:00pm</td>
                            <td th:if="${period != null}" th:each="period : ${t9}">
                                <span th:text="${period.getClassName()}" th:attr="class=${period.getClassName() != '' ? 'bg-secondary bg-soft text-dark padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom font-size16 xs-font-size13' : ''}"></span>
                                <div th:text='${period.getProfessorName() != "" ? "20:00-21:00" : ""}' class="margin-10px-top font-size14"></div>
                                <div th:text="${period.getProfessorName()}" class="font-size13 text-light-gray"></div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<meta th:replace="frame/mid2.html">
<!-- add your js here -->
<meta th:replace="frame/end.html">