<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta th:replace="/frame/head.html :: head">
    <title>Title</title>
</head>
<body>
<header th:replace="/frame/header.html :: header"></header>

<section class="d-flex align-items-center justify-content-center flex-column pt-40">
    <h1>학번 : <h2 sec:authentication="name"></h2></h1>
    <h1>권한 : <h2 sec:authentication="authorities"></h2></h1>
</section>

<footer th:replace="/frame/footer.html :: footer"></footer>
</body>
</html>