<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta th:replace="/frame/head.html :: head">
    <title>Title</title>
</head>
<body>
<header th:replace="/frame/header.html :: header"></header>

    ID : <span sec:authentication="name"></span> <br>
    소유 권한 : <span sec:authentication="authorities"></span> <br>

    <a href="/notice">공지사항</a> <br>

    <a href="/student">학생 메인페이지</a>

    <form sec:authorize="isAuthenticated()" id="logout" th:action="@{/logout}" method="GET">
        <input type="submit" value="로그아웃"/>
    </form> <br>

<footer th:replace="/frame/footer.html :: footer"></footer>
</body>
</html>