<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta th:replace="/frame/head.html">
    <title>Title</title>
</head>
<body>
<header sec:authorize="hasRole('STUDENT')" th:replace="/frame/sHeader.html"></header>
<header sec:authorize="hasRole('PROFESSOR')" th:replace="/frame/pHeader.html"></header>


<section class="d-flex align-items-center justify-content-center flex-column pt-40">
    <h3>나는 말이야</h3>
    <p>학번 : <span sec:authentication="name"></span></p>
    <p>권한 : <span sec:authentication="authorities"></span></p>
    <p>이름 : <span th:text="${member.getName()}"></span></p>
    <p>전공 : <span th:text="${member.getMajor()}"></span></p>
</section>

<footer th:replace="/frame/footer.html"></footer>
<script th:replace="/frame/tail.html"></script>
</body>
</html>